<link href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.2/css/fileinput.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.2/js/fileinput.min.js"></script>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">修改相册</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					HaHa
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<form role="form" method="post" action="/admin/album/edit">
								<input type="text" name="albumid" value="<<<.album.Id>>>" hidden="hidden" />
								<div class="form-group input-group">
									<!--<span class="input-group-addon">相册封面</span>
									<input type="text" class="form-control" name="cover" value="<<<.album.Cover>>>" id="cover" />-->
									<img class="img-thumbnail" src="<<<.album.Cover>>>" onerror="onerror=null;src='/static/upload/defaultcover.png'" />
								</div>
								<div class="form-group input-group">
									<span class="input-group-addon">相册名称</span>
									<input type="text" class="form-control" name="albumname" value="<<<.album.Name>>>" />
								</div>
								<div class="form-group input-group">
									<span class="input-group-addon">内容</span>
									<input type="text" class="form-control" name="content" value="<<<.album.Content>>>" />
								</div>
								<!--<div class="form-group input-group">
									<input id="editormd-image-file" name="editormd-image-file" type="file" class="file" />
								</div>-->
								<div class="form-group input-group">
									<span class="input-group-addon">展示排序</span>
									<input type="text" class="form-control" name="rank" value="<<<.album.Rank>>>" />
									<span class="input-group-addon">值越大越排前</span>
								</div>
								<button type="submit" class="btn btn-default">保存</button>
								<button type="button" class="btn btn-primary" onclick="del_album(<<<.album.Id>>>)">删除</button>
								<button type="button" class="btn" onclick="javascript:history.back();">取消</button>
							</form>
						</div>
						<!-- /.col-lg-6 (nested) -->
						<div class="col-lg-6">
							<h1>Hello world!</h1>
						</div>
						<!-- /.col-lg-6 (nested) -->
					</div>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<script>
	/*
	//初始化fileinput控件（第一次初始化）
	function initFileInput(ctrlName, uploadUrl, preViewImageurl) {
		var control = $('#' + ctrlName);
		control.fileinput({
			language: 'zh', //设置语言
			uploadUrl: uploadUrl, //上传的地址
			allowedFileExtensions: ['jpg', 'png', 'gif'], //接收的文件后缀
			showUpload: false, //是否显示上传按钮
			showCaption: false, //是否显示标题
			browseClass: "btn btn-primary", //按钮样式             
			previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
			uploadExtraData: {
				type: 2,
				w: 220,
				h: 150,
			},
			initialPreview: [ //预览图片的设置
				"<img src='" + preViewImageurl + "' class='file-preview-image' alt='相册封面' title='相册封面'>",
			],
		}).on("fileuploaded", function(event, data) {
			console.info(data);
			if(data.response) {
				if(1 == data.response.success) {
					$('#cover')[0].value = data.response.url;
				} else {
					toastr.error(data.response.message);
					return false;
				}

			} else {
				toastr.error(data);
				return false;
			}
		});
	}

	//初始化fileinput控件（第一次初始化）
	//initFileInput("editormd-image-file", "/admin/article/upload", <<<.album.Cover>>>);
	*/
</script>