<style>
/*==== 翻页样式 start ====*/
.page {
	text-align: left;
}
/*==== 翻页样式 end ====*/
</style>
<link href="https://cdn.bootcss.com/datatables/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/css/responsive.dataTables.min.css" rel="stylesheet">
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">文章列表</h1></div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">管理我的文章</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="dataTable_wrapper">
						<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>
										<input type="checkbox" name="all" value="0" onclick="checkall('ids[]', this)" /></th>
									<th>文章ID</th>
									<th>标题</th>
									<th>类别</th>
									<th>点击量</th>
									<th>喜欢</th>
									<th>发布人</th>
									<th>发布时间</th>
									<th>最近修改</th>
									<th>编辑|删除</th>
								</tr>
							</thead>
							<tbody id="app-article">
								<tr class="gradeA" v-for="v in list">
									<td>
										<input type="checkbox" name="ids[]" v-bind:value="[v.Id]" /></td>
									<td>{{v.Id}}</td>
									<td class="hl_title">
										<i v-if="v.Istop" class="icon-arrow-up" title="置顶"></i>
										<a v-bind:href="['/article/'+v.Id]" target="_blank">{{v.Title}}</a>
										<span v-if="v.Urltype" class="label label-important">页面</span></td>
									<td class="hl_tag"><a v-bind:href="['/category/'+v.Tags]">{{v.Tags}}</a></td>
									<td>{{v.Views}}</td>
									<td>0</td>
									<td class="hl_author">{{v.Username}}</td>
									<td class="center">{{v.Posttime}}</td>
									<td class="center">{{v.Updated}}</td>
									<td>
										<a href="#" v-bind:onclick="['edit_article('+v.Id+')']"><i class="fa fa-edit fa-fw"></i></a> |
										<a v-bind:href="['/admin/article/delete?id='+v.Id]" onclick="return del_confirm()">删除</a></td>
								</tr></tbody>
							<tfoot>
								<tr>
									<td colspan="21"><div class="paging-box" id="paging-box"></div></td>
								</tr>
								<tr>
									<td width="30">
										<input type="checkbox" name="all" value="0" onclick="checkall('ids[]', this)" /></td>
									<td>
										<select name="op" id="op" class="form-control input-sm">
                      					<option value="">批量操作</option>
                      					<option value="topub">移至已发布</option>
                      					<option value="todrafts">移至草稿箱</option>
                      					<option value="totrash">移至回收站</option>
                      					<option value="delete">删除</option></select>
									<td colspan="20">
										<button type="submit" class="btn btn-default">应用</button></td>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->

<script src="https://cdn.bootcss.com/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.bootcss.com/datatables/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="/js/dataTables.responsive.min.js"></script>

<script type="text/javascript">
    var vm_article = new Vue({
		el: '#app-article',
		data: {
			list: []
		}
	});
	
	$(document).ready(function() {
		/* 以下代码不能用，否则会报Cannot set property 'nTf' 的错误，
		因为我tfoot中的colspan="20"横跨了多个td，不满足DataTable对于th和td强一致的要求。  */
		/*$('#dataTables-example').DataTable({
			responsive: true
		});*/
		init_pagebar( <<< .page >>> , <<< .pagesize >>> , <<< .total >>> , vm_article, '/admin/article/list');
		add_window_of_edit_article();
	});
</script>