<style>
	.wrap {
		/* 长英文自动换行 */
		word-break: break-all;
		table-layout: fixed;
		overflow: hidden;
	}
</style>
<link href="https://cdn.bootcss.com/lightbox2/2.9.0/css/lightbox.min.css" rel="stylesheet">

<script src="/js/photoAlbum.js"></script>
<link href="/css/photoAlbum.css" rel="stylesheet">
<div id="page-wrapper">
	<div class="row">
		<h1 class="page-header">相册图片</h1>
		<button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		  上传图片
		</button>
	</div>
	<div class="row">
		<div class="collapse" id="collapseExample">

			<input type="hidden" id="domain" value="http://o9gqjr7iy.bkt.clouddn.com/">
			<input type="hidden" id="uptoken_url" value="/qiniu/uptoken">
			<div class="col-md-12">
				<div id="container">
					<a class="btn btn-default btn-lg " id="pickfiles" href="#">
						<i class="glyphicon glyphicon-plus"></i>
						<span>选择文件</span>
					</a>
				</div>
			</div>
			<div style="display:none" id="success" class="col-md-12">
				<div class="alert-success">
					队列全部文件处理完毕
				</div>
			</div>
			<div class="col-md-12 ">
				<table class="table table-striped table-hover text-left" style="margin-top:40px;display:none">
					<thead>
						<tr>
							<th class="col-md-4">Filename</th>
							<th class="col-md-2">Size</th>
							<th class="col-md-6">Detail</th>
						</tr>
					</thead>
					<tbody id="fsUploadProgress">
					</tbody>
				</table>
			</div>

		</div>
		<hr />
	</div>

	<div class="row">
		{{range $k, $v := .list}}
		<div class="col-sm-5 col-md-3">
			<div class="thumbnail">
				<a href="{{$v.Url}}" data-lightbox="lightbox_" title="{{$v.Des}}">
					<img src="{{$v.Small}}" alt="{{$v.Des}}">
				</a>
				<div class="caption">
					<p class="wrap">
						<input class="photo_des form-control" photoid="{{$v.Id}}" value="{{$v.Des}}" />
					</p>
					<p>
						<a class="btn btn-primary" role="button" href="/admin/photo/cover?cover={{$v.Small}}&albumid={{$v.Albumid}}">设为封面</a>
						<a class="btn btn-default" role="button" href="/admin/photo/delete?id={{$v.Id}}&albumid={{$v.Albumid}}" onclick="return del_confirm()">删除</a>
					</p>
				</div>
			</div>
		</div>
		{{end}}
	</div>

	<div class="row">
		<div class="lucas-album" category="PUZZLE">
			{{range $k, $v := .list}}
			<img src="{{$v.Url}}" /> {{end}}
		</div>
	</div>
</div>

<script src="/js/qiniu.js"></script>
<script src="/js/liberalman-qiniu.js"></script>
<script src="/js/liberalman-qiniu-ui.js"></script>
<script src="https://cdn.bootcss.com/plupload/2.3.3/plupload.full.min.js"></script>
<script src="https://cdn.bootcss.com/plupload/3.1.0/i18n/zh_CN.js"></script>
<script src="https://cdn.bootcss.com/lightbox2/2.9.0/js/lightbox.min.js"></script>
<script>
	$(document).ready(function() {

		$('.photo_des').change(function() {
			$.ajax({
				url: "/admin/photo/edit",
				type: "POST",
				cache: false,
				async: true,
				data: {
					photoid: $(this).attr("photoid"),
					des: $(this).val()
				},
				success: function(data) {
					if(0 != data.code) { // 返回0代表成功，其他失败
						toastr.error("code: " + data.code + " message: " + data.message);
					} else {
						toastr.success(data.message);
					}
				}
			});
		});
	});
</script>