<script src="/js/photoAlbum.js"></script>
<link href="/css/photoAlbum.css" rel="stylesheet">
<div id="page-wrapper">
	<div class="row">
	    <h1 class="page-header">相册图片</h1>
	</div>
	<div class="row">
		<fieldset>
			<form method="post" name="p" action="/admin/article/save">
				<table class="table table-form">
					<tbody>
						<tr>
							<td>
								<a href="javascript:void(0);" onclick="upImage();">上传图片</a>
							</td>
						</tr>
						<tr>
							<td>
								<ul id="auto-loop" class="gallery list-unstyled">
									{{range $k, $v := .list}}
									<li data-desc="{{$v.Des}}">
										<a href="#">
											<img src="{{$v.Small}}" />
										</a>
										<a href="/admin/photo/cover?cover={{$v.Small}}&albumid={{$v.Albumid}}">设为封面</a>
										<a href="/admin/photo/delete?id={{$v.Id}}&albumid={{$v.Albumid}}" onclick="return del_confirm()">删除</a>
									</li>
									{{end}}
								</ul>
							</td>
						</tr>
					</tbody>

				</table>
			</form>

		</fieldset>
	</div>

	<div class="row">
		<div class="lucas-album" category="PUZZLE">
			{{range $k, $v := .list}}
			    <img src="{{$v.Small}}" />
			{{end}}
		</div>
	</div>
</div>