<script type="text/javascript">
<<<if .errmsg.username>>>
        toastr.error(<<<.errmsg.username>>>);
    <<<else if .errmsg.password>>>
        toastr.error(<<<.errmsg.password>>>);
    <<<else if .errmsg.password2>>>
        toastr.error(<<<.errmsg.password2>>>);
    <<<else if .errmsg.email>>>
        toastr.error(<<<.errmsg.email>>>);
<<<end>>>
</script>
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">添加用户</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					只有超级管理员才能添加用户
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<form role="form" method="post">
								<div class="form-group input-group">
									<span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;用户名</span>
									<input type="text" class="form-control" name="username" value="<<<.input.username>>>" />
								</div>
								<div class="form-group input-group">
									<span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码</span>
									<input type="password" class="form-control" name="password" value="<<<.input.password>>>" />
								</div>

								<div class="form-group input-group">
									<span class="input-group-addon">确认密码</span>
									<input type="password" class="form-control" name="password2" value="<<<.input.password2>>>" />
								</div>
								<div class="form-group input-group">
									<span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱</span>
									<input type="text" class="form-control" name="email" value="<<<.input.email>>>" />
								</div>
								<div class="form-group">
									<label>激活状态</label>
									<label class="radio-inline">
                                                <input type="radio" name="active" id="data_active_0" value="0" checked>未激活
                                            </label>
									<label class="radio-inline">
                                                <input type="radio" name="active" id="data_active_1" value="1">已激活
                                            </label>
								</div>
								<button type="submit" class="btn btn-default">保存</button>
								<button type="button" class="btn" onclick="javascript:history.back();">取消</button>
							</form>
						</div>
						<!-- /.col-lg-6 (nested) -->
						<div class="col-lg-6">
							<h1>Hello world!</h1>

						</div>
						<!-- /.col-lg-6 (nested) -->
					</div>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->