<div class="row">
	<div style="text-align: center;">
		<H3>ASCII码对照表</H3>
		<P>下表列出了字符集中的 0 - 127。</P>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-md-6">
		<div class="thumbnail">
			<div class="caption">
				<table style="border-color:#000000" border="1">
					<tbody>
						<tr style="background-color: #cccccc;">
							<TH width="12%">代码</TH>
							<TH width="11%">字符</TH>
							<TH width="12%">代码</TH>
							<TH width="17%">字符</TH>
							<TH width="12%">代码</TH>
							<TH width="12%">字符</TH>
							<TH width="12%">代码</TH>
							<TH width="12%">字符</TH>
						</tr>
						<tr>
							<td width="12%">0</td>
							<td width="11%">&nbsp; </td>
							<td width="12%">32</td>
							<td width="17%">[空格]</td>
							<td width="12%">64</td>
							<td width="12%">@</td>
							<td width="12%">96</td>
							<td width="12%">`</td>
						</tr>
						<tr>
							<td width="12%">1</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">33</td>
							<td width="17%">!</td>
							<td width="12%">65</td>
							<td width="12%">A</td>
							<td width="12%">97</td>
							<td width="12%">a</td>
						</tr>
						<tr>
							<td width="12%">2</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">34</td>
							<td width="17%">"</td>
							<td width="12%">66</td>
							<td width="12%">B</td>
							<td width="12%">98</td>
							<td width="12%">b</td>
						</tr>
						<tr>
							<td width="12%">3</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">35</td>
							<td width="17%">#</td>
							<td width="12%">67</td>
							<td width="12%">C</td>
							<td width="12%">99</td>
							<td width="12%">c</td>
						</tr>
						<tr>
							<td width="12%">4</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">36</td>
							<td width="17%">$</td>
							<td width="12%">68</td>
							<td width="12%">D</td>
							<td width="12%">100</td>
							<td width="12%">d</td>
						</tr>
						<tr>
							<td width="12%">5</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">37</td>
							<td width="17%">%</td>
							<td width="12%">69</td>
							<td width="12%">E</td>
							<td width="12%">101</td>
							<td width="12%">e</td>
						</tr>
						<tr>
							<td width="12%">6</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">38</td>
							<td width="17%">&amp;</td>
							<td width="12%">70</td>
							<td width="12%">F</td>
							<td width="12%">102</td>
							<td width="12%">f</td>
						</tr>
						<tr>
							<td width="12%">7</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">39</td>
							<td width="17%">'</td>
							<td width="12%">71</td>
							<td width="12%">G</td>
							<td width="12%">103</td>
							<td width="12%">g</td>
						</tr>
						<tr>
							<td width="12%">8</td>
							<td width="11%">**</td>
							<td width="12%">40</td>
							<td width="17%">(</td>
							<td width="12%">72</td>
							<td width="12%">H</td>
							<td width="12%">104</td>
							<td width="12%">h</td>
						</tr>
						<tr>
							<td width="12%">9</td>
							<td width="11%">**</td>
							<td width="12%">41</td>
							<td width="17%">)</td>
							<td width="12%">73</td>
							<td width="12%">I</td>
							<td width="12%">105</td>
							<td width="12%">i</td>
						</tr>
						<tr>
							<td width="12%">10</td>
							<td width="11%">**</td>
							<td width="12%">42</td>
							<td width="17%">*</td>
							<td width="12%">74</td>
							<td width="12%">J</td>
							<td width="12%">106</td>
							<td width="12%">j</td>
						</tr>
						<tr>
							<td width="12%">11</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">43</td>
							<td width="17%">+</td>
							<td width="12%">75</td>
							<td width="12%">K</td>
							<td width="12%">107</td>
							<td width="12%">k</td>
						</tr>
						<tr>
							<td width="12%">12</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">44</td>
							<td width="17%">,</td>
							<td width="12%">76</td>
							<td width="12%">L</td>
							<td width="12%">108</td>
							<td width="12%">l</td>
						</tr>
						<tr>
							<td width="12%">13</td>
							<td width="11%">**</td>
							<td width="12%">45</td>
							<td width="17%">-</td>
							<td width="12%">77</td>
							<td width="12%">M</td>
							<td width="12%">109</td>
							<td width="12%">m</td>
						</tr>
						<tr>
							<td width="12%">14</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">46</td>
							<td width="17%">.</td>
							<td width="12%">78</td>
							<td width="12%">N</td>
							<td width="12%">110</td>
							<td width="12%">n</td>
						</tr>
						<tr>
							<td width="12%">15</td>
							<td width="11%">&#129;</td>
							<td width="12%">47</td>
							<td width="17%">/</td>
							<td width="12%">79</td>
							<td width="12%">O</td>
							<td width="12%">111</td>
							<td width="12%">o</td>
						</tr>
						<tr>
							<td width="12%">16</td>
							<td width="11%">&#129;</td>
							<td width="12%">48</td>
							<td width="17%">0</td>
							<td width="12%">80</td>
							<td width="12%">P</td>
							<td width="12%">112</td>
							<td width="12%">p</td>
						</tr>
						<tr>
							<td width="12%">17</td>
							<td width="11%">&#129;</td>
							<td width="12%">49</td>
							<td width="17%">1</td>
							<td width="12%">81</td>
							<td width="12%">Q</td>
							<td width="12%">113</td>
							<td width="12%">q</td>
						</tr>
						<tr>
							<td width="12%">18</td>
							<td width="11%">&#129;</td>
							<td width="12%">50</td>
							<td width="17%">2</td>
							<td width="12%">82</td>
							<td width="12%">R</td>
							<td width="12%">114</td>
							<td width="12%">r</td>
						</tr>
						<tr>
							<td width="12%">19</td>
							<td width="11%">=13</td>
							<td width="12%">51</td>
							<td width="17%">3</td>
							<td width="12%">83</td>
							<td width="12%">S</td>
							<td width="12%">115</td>
							<td width="12%">s</td>
						</tr>
						<tr>
							<td width="12%">20</td>
							<td width="11%">=14</td>
							<td width="12%">52</td>
							<td width="17%">4</td>
							<td width="12%">84</td>
							<td width="12%">T</td>
							<td width="12%">116</td>
							<td width="12%">t</td>
						</tr>
						<tr>
							<td width="12%">21</td>
							<td width="11%">=15</td>
							<td width="12%">53</td>
							<td width="17%">5</td>
							<td width="12%">85</td>
							<td width="12%">U</td>
							<td width="12%">117</td>
							<td width="12%">u</td>
						</tr>
						<tr>
							<td width="12%">22</td>
							<td width="11%">&#129;</td>
							<td width="12%">54</td>
							<td width="17%">6</td>
							<td width="12%">86</td>
							<td width="12%">V</td>
							<td width="12%">118</td>
							<td width="12%">v</td>
						</tr>
						<tr>
							<td width="12%">23</td>
							<td width="11%">&#129;</td>
							<td width="12%">55</td>
							<td width="17%">7</td>
							<td width="12%">87</td>
							<td width="12%">W</td>
							<td width="12%">119</td>
							<td width="12%">w</td>
						</tr>
						<tr>
							<td width="12%">24</td>
							<td width="11%">&#129;</td>
							<td width="12%">56</td>
							<td width="17%">8</td>
							<td width="12%">88</td>
							<td width="12%">X</td>
							<td width="12%">120</td>
							<td width="12%">x</td>
						</tr>
						<tr>
							<td width="12%">25</td>
							<td width="11%">&#129;</td>
							<td width="12%">57</td>
							<td width="17%">9</td>
							<td width="12%">89</td>
							<td width="12%">Y</td>
							<td width="12%">121</td>
							<td width="12%">y</td>
						</tr>
						<tr>
							<td width="12%">26</td>
							<td width="11%">&#129;</td>
							<td width="12%">58</td>
							<td width="17%">:</td>
							<td width="12%">90</td>
							<td width="12%">Z</td>
							<td width="12%">122</td>
							<td width="12%">z</td>
						</tr>
						<tr>
							<td width="12%">27</td>
							<td width="11%">=1B</td>
							<td width="12%">59</td>
							<td width="17%">;</td>
							<td width="12%">91</td>
							<td width="12%">[</td>
							<td width="12%">123</td>
							<td width="12%">{</td>
						</tr>
						<tr>
							<td width="12%">28</td>
							<td width="11%">&#129;</td>
							<td width="12%">60</td>
							<td width="17%">&lt;</td>
							<td width="12%">92</td>
							<td width="12%">\</td>
							<td width="12%">124</td>
							<td width="12%">|</td>
						</tr>
						<tr>
							<td width="12%">29</td>
							<td width="11%">&#129;</td>
							<td width="12%">61</td>
							<td width="17%">=3D</td>
							<td width="12%">93</td>
							<td width="12%">]</td>
							<td width="12%">125</td>
							<td width="12%">}</td>
						</tr>
						<tr>
							<td width="12%">30</td>
							<td width="11%">-</td>
							<td width="12%">62</td>
							<td width="17%">&gt;</td>
							<td width="12%">94</td>
							<td width="12%">^</td>
							<td width="12%">126</td>
							<td width="12%">~</td>
						</tr>
						<tr>
							<td width="12%">31</td>
							<td width="11%">&nbsp;</td>
							<td width="12%">63</td>
							<td width="17%">?</td>
							<td width="12%">95</td>
							<td width="12%">_</td>
							<td width="12%">127</td>
							<td width="12%">&#129;</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6">
		<div class="thumbnail">
			<div class="caption">
				<P>下表列出了字符集中的 128 - 255。</P>
				<table cell-spacing="0" style="border-color:#000000" cell-padding="0" border="1">
					<tbody>
						<tr style="background-color: #cccccc;">
							<TH width="12%">代码</TH>
							<TH width="12%">字符</TH>
							<TH width="11%">代码</TH>
							<TH width="17%">字符</TH>
							<TH width="12%">代码</TH>
							<TH width="12%">字符</TH>
							<TH width="11%">代码</TH>
							<TH width="13%">字符</TH>
						</tr>
						<tr>
							<td width="12%">128</td>
							<td width="12%">€</td>
							<td width="11%">160</td>
							<td width="17%">[空格]</td>
							<td width="12%">192</td>
							<td width="12%">&Agrave;</td>
							<td width="11%">224</td>
							<td width="13%">=A8=A4</td>
						</tr>
						<tr>
							<td width="12%">129</td>
							<td width="12%">&#129;</td>
							<td width="11%">161</td>
							<td width="17%">&iexcl;</td>
							<td width="12%">193</td>
							<td width="12%">&Aacute;</td>
							<td width="11%">225</td>
							<td width="13%">=A8=A2</td>
						</tr>
						<tr>
							<td width="12%">130</td>
							<td width="12%">&#8218;</td>
							<td width="11%">162</td>
							<td width="17%">&cent;</td>
							<td width="12%">194</td>
							<td width="12%">&Acirc;</td>
							<td width="11%">226</td>
							<td width="13%">&acirc;</td>
						</tr>
						<tr>
							<td width="12%">131</td>
							<td width="12%">&#402;</td>
							<td width="11%">163</td>
							<td width="17%">&pound;</td>
							<td width="12%">195</td>
							<td width="12%">&Atilde;</td>
							<td width="11%">227</td>
							<td width="13%">&atilde;</td>
						</tr>
						<tr>
							<td width="12%">132</td>
							<td width="12%">&#8222;</td>
							<td width="11%">164</td>
							<td width="17%">=A1=E8</td>
							<td width="12%">196</td>
							<td width="12%">&Auml;</td>
							<td width="11%">228</td>
							<td width="13%">&auml;</td>
						</tr>
						<tr>
							<td width="12%">133</td>
							<td width="12%">=A1=AD</td>
							<td width="11%">165</td>
							<td width="17%">&yen;</td>
							<td width="12%">197</td>
							<td width="12%">&Aring;</td>
							<td width="11%">229</td>
							<td width="13%">&aring;</td>
						</tr>
						<tr>
							<td width="12%">134</td>
							<td width="12%">&#8224;</td>
							<td width="11%">166</td>
							<td width="17%">&brvbar;</td>
							<td width="12%">198</td>
							<td width="12%">&AElig;</td>
							<td width="11%">230</td>
							<td width="13%">&aelig;</td>
						</tr>
						<tr>
							<td width="12%">135</td>
							<td width="12%">&#8225;</td>
							<td width="11%">167</td>
							<td width="17%">=A1=EC</td>
							<td width="12%">199</td>
							<td width="12%">&Ccedil;</td>
							<td width="11%">231</td>
							<td width="13%">&ccedil;</td>
						</tr>
						<tr>
							<td width="12%">136</td>
							<td width="12%">&#710;</td>
							<td width="11%">168</td>
							<td width="17%">=A1=A7</td>
							<td width="12%">200</td>
							<td width="12%">&Egrave;</td>
							<td width="11%">231</td>
							<td width="13%">&ccedil;</td>
						</tr>
						<tr>
							<td width="12%">137</td>
							<td width="12%">=A1=EB</td>
							<td width="11%">169</td>
							<td width="17%">&copy;</td>
							<td width="12%">201</td>
							<td width="12%">&Eacute;</td>
							<td width="11%">232</td>
							<td width="13%">=A8=A8</td>
						</tr>
						<tr>
							<td width="12%">138</td>
							<td width="12%">&#352;</td>
							<td width="11%">170</td>
							<td width="17%">&ordf;</td>
							<td width="12%">202</td>
							<td width="12%">&Ecirc;</td>
							<td width="11%">233</td>
							<td width="13%">=A8=A6</td>
						</tr>
						<tr>
							<td width="12%">139</td>
							<td width="12%">&#8249;</td>
							<td width="11%">171</td>
							<td width="17%">&laquo;</td>
							<td width="12%">203</td>
							<td width="12%">&Euml;</td>
							<td width="11%">234</td>
							<td width="13%">=A8=BA</td>
						</tr>
						<tr>
							<td width="12%">140</td>
							<td width="12%">&#338;</td>
							<td width="11%">172</td>
							<td width="17%">&not;</td>
							<td width="12%">204</td>
							<td width="12%">&Igrave;</td>
							<td width="11%">235</td>
							<td width="13%">&euml;</td>
						</tr>
						<tr>
							<td width="12%">141</td>
							<td width="12%">&#141;</td>
							<td width="11%">173</td>
							<td width="17%">&shy;</td>
							<td width="12%">205</td>
							<td width="12%">&Iacute;</td>
							<td width="11%">236</td>
							<td width="13%">=A8=AC</td>
						</tr>
						<tr>
							<td width="12%">142</td>
							<td width="12%">&#381;</td>
							<td width="11%">174</td>
							<td width="17%">&reg;</td>
							<td width="12%">206</td>
							<td width="12%">&Icirc;</td>
							<td width="11%">237</td>
							<td width="13%">=A8=AA</td>
						</tr>
						<tr>
							<td width="12%">143</td>
							<td width="12%">&#143;</td>
							<td width="11%">175</td>
							<td width="17%">&macr;</td>
							<td width="12%">207</td>
							<td width="12%">&Iuml;</td>
							<td width="11%">238</td>
							<td width="13%">&icirc;</td>
						</tr>
						<tr>
							<td width="12%">144</td>
							<td width="12%">&#144;</td>
							<td width="11%">176</td>
							<td width="17%">=A1=E3</td>
							<td width="12%">208</td>
							<td width="12%">&ETH;</td>
							<td width="11%">239</td>
							<td width="13%">&iuml;</td>
						</tr>
						<tr>
							<td width="12%">145</td>
							<td width="12%">=A1=AE</td>
							<td width="11%">177</td>
							<td width="17%">=A1=C0</td>
							<td width="12%">209</td>
							<td width="12%">&Ntilde;</td>
							<td width="11%">240</td>
							<td width="13%">&eth;</td>
						</tr>
						<tr>
							<td width="12%">146</td>
							<td width="12%">=A1=AF</td>
							<td width="11%">178</td>
							<td width="17%">&sup2;</td>
							<td width="12%">210</td>
							<td width="12%">&Ograve;</td>
							<td width="11%">241</td>
							<td width="13%">&ntilde;</td>
						</tr>
						<tr>
							<td width="12%">147</td>
							<td width="12%">=A1=B0</td>
							<td width="11%">179</td>
							<td width="17%">&sup3;</td>
							<td width="12%">211</td>
							<td width="12%">&Oacute;</td>
							<td width="11%">242</td>
							<td width="13%">=A8=B0</td>
						</tr>
						<tr>
							<td width="12%">148</td>
							<td width="12%">=A1=B1</td>
							<td width="11%">180</td>
							<td width="17%">&acute;</td>
							<td width="12%">212</td>
							<td width="12%">&Ocirc;</td>
							<td width="11%">243</td>
							<td width="13%">=A8=AE</td>
						</tr>
						<tr>
							<td width="12%">149</td>
							<td width="12%">&#8226;</td>
							<td width="11%">181</td>
							<td width="17%">&micro;</td>
							<td width="12%">213</td>
							<td width="12%">&Otilde;</td>
							<td width="11%">244</td>
							<td width="13%">&ocirc;</td>
						</tr>
						<tr>
							<td width="12%">150</td>
							<td width="12%">=A8C</td>
							<td width="11%">182</td>
							<td width="17%">&para;</td>
							<td width="12%">214</td>
							<td width="12%">&Ouml;</td>
							<td width="11%">245</td>
							<td width="13%">&otilde;</td>
						</tr>
						<tr>
							<td width="12%">151</td>
							<td width="12%">—</td>
							<td width="11%">183</td>
							<td width="17%">=A1=A4</td>
							<td width="12%">215</td>
							<td width="12%">=A1=C1</td>
							<td width="11%">246</td>
							<td width="13%">&ouml;</td>
						</tr>
						<tr>
							<td width="12%">152</td>
							<td width="12%">&#732;</td>
							<td width="11%">184</td>
							<td width="17%">&cedil;</td>
							<td width="12%">216</td>
							<td width="12%">&Oslash;</td>
							<td width="11%">247</td>
							<td width="13%">=A1=C2</td>
						</tr>
						<tr>
							<td width="12%">153</td>
							<td width="12%">&#8482;</td>
							<td width="11%">185</td>
							<td width="17%">&sup1;</td>
							<td width="12%">217</td>
							<td width="12%">&Ugrave;</td>
							<td width="11%">248</td>
							<td width="13%">&oslash;</td>
						</tr>
						<tr>
							<td width="12%">154</td>
							<td width="12%">&#353;</td>
							<td width="11%">186</td>
							<td width="17%">&ordm;</td>
							<td width="12%">218</td>
							<td width="12%">&Uacute;</td>
							<td width="11%">249</td>
							<td width="13%">=A8=B4</td>
						</tr>
						<tr>
							<td width="12%">155</td>
							<td width="12%">&#8250;</td>
							<td width="11%">187</td>
							<td width="17%">&raquo;</td>
							<td width="12%">219</td>
							<td width="12%">&Ucirc;</td>
							<td width="11%">250</td>
							<td width="13%">ú</td>
						</tr>
						<tr>
							<td width="12%">156</td>
							<td width="12%">&#339;</td>
							<td width="11%">188</td>
							<td width="17%">&frac14;</td>
							<td width="12%">220</td>
							<td width="12%">&Uuml;</td>
							<td width="11%">251</td>
							<td width="13%">&ucirc;</td>
						</tr>
						<tr>
							<td width="12%">157</td>
							<td width="12%">&#157;</td>
							<td width="11%">189</td>
							<td width="17%">&frac12;</td>
							<td width="12%">221</td>
							<td width="12%">&Yacute;</td>
							<td width="11%">252</td>
							<td width="13%">ü</td>
						</tr>
						<tr>
							<td width="12%">158</td>
							<td width="12%">&#382;</td>
							<td width="11%">190</td>
							<td width="17%">&frac34;</td>
							<td width="12%">222</td>
							<td width="12%">&THORN;</td>
							<td width="11%">253</td>
							<td width="13%">&yacute;</td>
						</tr>
						<tr>
							<td width="12%">159</td>
							<td width="12%">&#376;</td>
							<td width="11%">191</td>
							<td width="17%">&iquest;</td>
							<td width="12%">223</td>
							<td width="12%">&szlig;</td>
							<td width="11%">254</td>
							<td width="13%">&thorn;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>