/*.exe
conf/app.conf
conf/app-docker.conf
conf/sphinx.conf
conf/server.crt
conf/server.key
.project
log/*
libertyblog
scripts/libertyblog.sql.gz
scripts/.leancloud/
scripts/backup_mysql.sh
scripts/init.sh

