.outer{
    width:200px; height:200px;
    position:relative;margin:100px auto;
    -webkit-transform-style:preserve-3d;
    -webkit-animation-name:roll;
    -webkit-animation-duration:10s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count:infinite;
    
}
div  {width:300px; height:180px;
    position:relative;margin:100px auto;
    -webkit-transform-style:preserve-3d;
    -webkit-transform:rotateX(50deg) rotateY(30deg);
}
body {-webkit-transform-style:preserve-3d;-webkit-perspective:1500; background:#000;}

/* animation */
@-webkit-keyframes roll{
    from {-webkit-transform:rotatey(0deg);}
    to {-webkit-transform:rotatey(360deg);}
}

img {width:200px; height:200px;opacity:0.9;
    -webkit-transform-style:preserve-3d;
    position:absolute;left:0;top:0;}
/* style for pics */

img:nth-child(1) {-webkit-transform:rotatey(90deg) translateZ(100px);}
img:nth-child(2) {-webkit-transform:rotatey(180deg) translateZ(100px);}
img:nth-child(3) {-webkit-transform:rotatey(270deg) translateZ(100px);}
img:nth-child(4) {-webkit-transform:rotatey(360deg) translateZ(100px);}
img:nth-child(5) {-webkit-transform:rotatex(90deg) translateZ(100px);}
img:nth-child(6) {-webkit-transform:rotatex(90deg) translateZ(-100px);}
