<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>编辑文章</title>
        <link rel="stylesheet" href="/editor.md/css/style.css" />
        <link rel="stylesheet" href="/editor.md/css/editormd.min.css" />
		<link rel="stylesheet" href="/editor.md/s.css" />
        <link rel="stylesheet" href="{{.staticPath}}/css/bootstrap.min.css" />
        <link rel="shortcut icon" href="{{.staticPath}}/favicon.ico" type="image/x-icon" />
    </head>
    <body>
    <form class="form-inline" method="post" action="/admin/article/save" id="form_article">
        <div id="layout">
            <header>
                <div class="form-group">
                    <input name="title" placeholder="文章标题，要起的大气点！" class="form-control" size="60"/>
                    <input type="text" name="tags" class="form-control" placeholder="分类,多个用英文逗号‘,’分隔"/>
                    <select class="form-control" name="pubtype">
                      <option value="0">原创</option>
                      <option value="1">转载</option>
                      <option value="2">翻译</option>
                    </select>
					<input name="reprinturl" placeholder="转载地址" class="form-control" style="display:none;"/>
                    <select class="form-control" name="status">
                      <option value="0">已发布</option>
                      <option value="1">草稿箱</option>
                    </select>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." value="1" name="istop">
                      </span>
                      <input type="text" class="form-control" aria-label="..." value="置顶文章" size="4">
                    </div><!-- /input-group -->
                    <input class="form-control" placeholder="发布时间" name="posttime" size="16" type="text"  id="datetimepicker" data-date-format="yyyy-mm-dd HH:ii:ss">
                    <input name="coverurl" placeholder="封面图片" class="form-control" id="coverurl" value="{{.post.Coverurl}}" type="hidden"/>
                    <input type="submit" value="Just do it!" class="btn btn-danger"/>
                    </br>
                    </br>
                    <textarea name="digest" placeholder="文章摘要(80个字内)" class="form-control" cols="160"/></textarea>
                </div>
            </header>
            <div id="test-editormd">
                <textarea style="display:none;" name="content">

```mermaid
graph LR;
　　A-->B;
　　A-->C;
　　B-->D;
　　C-->D;
```

```mermaid
sequenceDiagram
        Merchant->>Customer: "foo#b"
        Note left of Person:One row for the a
        Note right of Person: Bob thinks a long long time, so long that the text does not fit In a row. Bob thinks a long long time, so long that the text does not fit In a row. Bob thinks a long long time, so long that the text does not fit In a row. Bob thinks a long long time, so long that the text does not fit In a row.

        Person-->>Customer: bar

        Note left of Person: Foo checks up on him
```

    官网 http://pandao.github.io/editor.md/
### 主要特性

- 支持“标准”Markdown / CommonMark和Github风格的语法，也可变身为代码编辑器；
- 支持实时预览、图片（跨域）上传、预格式文本/代码/表格插入、代码折叠、搜索替换、只读模式、自定义样式主题和多语言语法高亮等功能；
- 支持ToC（Table of Contents）、Emoji表情、Task lists、@链接等Markdown扩展语法；
- 支持TeX科学公式（基于KaTeX）、流程图 Flowchart 和 时序图 Sequence Diagram;
- 支持识别和解析HTML标签，并且支持自定义过滤标签解析，具有可靠的安全性和几乎无限的扩展性；
- 支持 AMD / CMD 模块化加载（支持 Require.js & Sea.js），并且支持自定义扩展插件；
- 兼容主流的浏览器（IE8+）和Zepto.js，且支持iPad等平板设备；
- 支持自定义主题样式；

# Editor.md

![](http://www.liberalman.cn/static/upload/smallpic/20151008/1444238136469360800.jpg)

**目录 (Table of Contents)**

[TOCM]

[TOC]

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6
# Heading 1 link [Heading link](https://github.com/pandao/editor.md "Heading link")
## Heading 2 link [Heading link](https://github.com/pandao/editor.md "Heading link")
### Heading 3 link [Heading link](https://github.com/pandao/editor.md "Heading link")
#### Heading 4 link [Heading link](https://github.com/pandao/editor.md "Heading link") Heading link [Heading link](https://github.com/pandao/editor.md "Heading link")
##### Heading 5 link [Heading link](https://github.com/pandao/editor.md "Heading link")
###### Heading 6 link [Heading link](https://github.com/pandao/editor.md "Heading link")

#### 标题（用底线的形式）Heading (underline)

This is an H1
=============

This is an H2
-------------

### 字符效果和横线等
                
----

~~删除线~~ <s>删除线（开启识别HTML标签时）</s>
*斜体字*      _斜体字_
**粗体**  __粗体__
***粗斜体*** ___粗斜体___

上标：X<sub>2</sub>，下标：O<sup>2</sup>

**缩写(同HTML的abbr标签)**

> 即更长的单词或短语的缩写形式，前提是开启识别HTML标签时，已默认开启

The <abbr title="Hyper Text Markup Language">HTML</abbr> specification is maintained by the <abbr title="World Wide Web Consortium">W3C</abbr>.

### 引用 Blockquotes

> 引用文本 Blockquotes

引用的行内混合 Blockquotes
                    
> 引用：如果想要插入空白换行`即<br />标签`，在插入处先键入两个以上的空格然后回车即可，[普通链接](http://localhost/)。

### 锚点与链接 Links

[普通链接](http://localhost/)

[普通链接带标题](http://localhost/ "普通链接带标题")

直接链接：<https://github.com>

[锚点链接][anchor-id] 

[anchor-id]: http://www.this-anchor-link.com/

GFM a-tail link @pandao

> @pandao

### 多语言代码高亮 Codes

#### 行内代码 Inline code

执行命令：`npm install marked`

#### 缩进风格

即缩进四个空格，也做为实现类似`<pre>`预格式化文本(Preformatted Text)的功能。

    <?php
        echo "Hello world!";
    ?>
    
预格式化文本：

    | First Header  | Second Header |
    | ------------- | ------------- |
    | Content Cell  | Content Cell  |
    | Content Cell  | Content Cell  |

#### JS代码　

```javascript
function test(){
	console.log("Hello world!");
}
 
(function(){
    var box = function(){
        return box.fn.init();
    };

    box.prototype = box.fn = {
        init : function(){
            console.log('box.init()');

			return this;
        },

		add : function(str){
			alert("add", str);

			return this;
		},

		remove : function(str){
			alert("remove", str);

			return this;
		}
    };
    
    box.fn.init.prototype = box.fn;
    
    window.box =box;
})();

var testBox = box();
testBox.add("jQuery").remove("jQuery");
```

#### HTML代码 HTML codes

```html
<!DOCTYPE html>
<html>
    <head>
        <mate charest="utf-8" />
        <title>Hello world!</title>
    </head>
    <body>
        <h1>Hello world!</h1>
    </body>
</html>
```

### 图片 Images

Image:

![](https://pandao.github.io/editor.md/examples/images/4.jpg)

> Follow your heart.

![](https://pandao.github.io/editor.md/examples/images/8.jpg)

> 图为：厦门白城沙滩

图片加链接 (Image + Link)：

[![](https://pandao.github.io/editor.md/examples/images/7.jpg)](https://pandao.github.io/editor.md/examples/images/7.jpg "李健首张专辑《似水流年》封面")

> 图为：李健首张专辑《似水流年》封面
                
----

### 列表 Lists

#### 无序列表（减号）Unordered Lists (-)
                
- 列表一
- 列表二
- 列表三
     
#### 无序列表（星号）Unordered Lists (*)

* 列表一
* 列表二
* 列表三

#### 无序列表（加号和嵌套）Unordered Lists (+)
                
+ 列表一
+ 列表二
    + 列表二-1
    + 列表二-2
    + 列表二-3
+ 列表三
    * 列表一
    * 列表二
    * 列表三

#### 有序列表 Ordered Lists (-)
                
1. 第一行
2. 第二行
3. 第三行

#### GFM task list

- [x] GFM task list 1
- [x] GFM task list 2
- [ ] GFM task list 3
    - [ ] GFM task list 3-1
    - [ ] GFM task list 3-2
    - [ ] GFM task list 3-3
- [ ] GFM task list 4
    - [ ] GFM task list 4-1
    - [ ] GFM task list 4-2
                
----
                    
### 绘制表格 Tables

| 项目        | 价格   |  数量  |
| --------   | -----:  | :----:  |
| 计算机      | $1600   |   5     |
| 手机        |   $12   |   12   |
| 管线        |    $1    |  234  |
                    
First Header  | Second Header
------------- | -------------
Content Cell  | Content Cell
Content Cell  | Content Cell 

| First Header  | Second Header |
| ------------- | ------------- |
| Content Cell  | Content Cell  |
| Content Cell  | Content Cell  |

| Function name | Description                    |
| ------------- | ------------------------------ |
| `help()`      | Display the help window.       |
| `destroy()`   | **Destroy your computer!**     |

| Left-Aligned  | Center Aligned  | Right Aligned |
| :------------ |:---------------:| -----:|
| col 3 is      | some wordy text | $1600 |
| col 2 is      | centered        |   $12 |
| zebra stripes | are neat        |    $1 |

| Item      | Value |
| --------- | -----:|
| Computer  | $1600 |
| Phone     |   $12 |
| Pipe      |    $1 |
                
----

#### 特殊符号 HTML Entities Codes

&copy; &  &uml; &trade; &iexcl; &pound;
&amp; &lt; &gt; &yen; &euro; &reg; &plusmn; &para; &sect; &brvbar; &macr; &laquo; &middot; 

X&sup2; Y&sup3; &frac34; &frac14;  &times;  &divide;   &raquo;

18&ordm;C  &quot;  &apos;

### Emoji表情 :smiley:

> Blockquotes :star:

#### GFM task lists & Emoji & fontAwesome icon emoji & editormd logo emoji :editormd-logo-5x:

- [x] :smiley: @mentions, :smiley: #refs, [links](), **formatting**, and <del>tags</del> supported :editormd-logo:;
- [x] list syntax required (any unordered or ordered list supported) :editormd-logo-3x:;
- [x] [ ] :smiley: this is a complete item :smiley:;
- [ ] []this is an incomplete item [test link](#) :fa-star: @pandao; 
- [ ] [ ]this is an incomplete item :fa-star: :fa-gear:;
    - [ ] :smiley: this is an incomplete item [test link](#) :fa-star: :fa-gear:;
    - [ ] :smiley: this is  :fa-star: :fa-gear: an incomplete item [test link](#);
 
#### 反斜杠 Escape

\*literal asterisks\*
            
### 科学公式 TeX(KaTeX)
                    
$$E=mc^2$$

行内的公式$$E=mc^2$$行内的公式，行内的$$E=mc^2$$公式。

$$\(\sqrt{3x-1}+(1+x)^2\)$$
                    
$$\sin(\alpha)^{\theta}=\sum_{i=0}^{n}(x^i + \cos(f))$$

多行公式：

```math
\displaystyle
\left( \sum\_{k=1}^n a\_k b\_k \right)^2
\leq
\left( \sum\_{k=1}^n a\_k^2 \right)
\left( \sum\_{k=1}^n b\_k^2 \right)
```

```katex
\displaystyle 
    \frac{1}{
        \Bigl(\sqrt{\phi \sqrt{5}}-\phi\Bigr) e^{
        \frac25 \pi}} = 1+\frac{e^{-2\pi}} {1+\frac{e^{-4\pi}} {
        1+\frac{e^{-6\pi}}
        {1+\frac{e^{-8\pi}}
         {1+\cdots} }
        } 
    }
```

```latex
f(x) = \int_{-\infty}^\infty
    \hat f(\xi)\,e^{2 \pi i \xi x}
    \,d\xi
```
                
### 绘制流程图 Flowchart

```flow
st=>start: 用户登陆
op=>operation: 登陆操作
cond=>condition: 登陆成功 Yes or No?
e=>end: 进入后台

st->op->cond
cond(yes)->e
cond(no)->op
```
                    
### 绘制序列图 Sequence Diagram
                    
```seq
Andrew->China: Says Hello 
Note right of China: China thinks\nabout it 
China-->Andrew: How are you? 
Andrew->>China: I am good thanks!
```

### End
                </textarea>
            </div>
        </div>
    </form>
        <script src="{{.staticPath}}/js/jquery-2.1.3.min.js"></script>
        <script src="/editor.md/editormd.js"></script>
        <script type="text/javascript">
			var testEditor;

            $(function() {
                testEditor = editormd("test-editormd", {
                    width   : "100%",
                    autoHeight : true,
                    syncScrolling : "single",
                    path    : "/editor.md/lib/",
                    emoji   : true, // 启用表情包
                    
                     // 上传图片
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "./php/upload.php?test=dfdf",
                    /*
                     上传的后台只需要返回一个 JSON 数据，结构如下：
                     {
                        success : 0 | 1,           // 0 表示上传失败，1 表示上传成功
                        message : "提示的信息，上传成功或上传失败及错误信息等。",
                        url     : "图片地址"        // 上传成功时才返回
                     }
                     */
                     
                     // 提交表单的时候用
                    //appendMarkdown : "test-editormd",
                    saveHTMLToTextarea : true,
                    
                    // 内容发生变化的时候打印下日志
                    /*onchange : function() {
                        console.log("onchange =>", this, this.id, this.settings, this.state);
                    },*/
                    
                    flowChart : true, //流程图
                    tex  : true, // 科学公式语言
					 mermaid : true, // mermaid图
                    sequenceDiagram : true, // 序列图
					 htmlDecode : true, // 解析html标签
					 codeFold : true, // 运行编辑的时候代码折叠
					
					// 这些配置的默认值，参见editormd.js中的 editormd.defaults 的定义
					// mermaid标签的解析，查找这行 ( lang === "mermaid")
					// 加载文件mermaid.min，mermaidRender函数
					// mermaid.js中的global.mermaid是定义函数的地方
                });
				
				// 日历
				$("#colorpicker").colorpicker({
                    fillcolor:true,
                    success:function(o,color){
                        $("input[name='title']").css("color",color);
                        $("input[name='color']").val(color);
                    },
                    reset:function(o) {
                        $("input[name='title']").css("color","");
                        $("input[name='color']").val("");
                    }
                });
                $('#datetimepicker').datetimepicker({
                    language:  'zh-CN',
                    weekStart: 1,
                    todayBtn:  1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    forceParse: 1,
                    showMeridian: 1
                });
				
				// 发布类型
				$("select[name='pubtype']").change(function(){
					var val = $(this).children('option:selected').val();
					if (1 == val) {
						$("input[name='reprinturl']").css('display', 'inline');
					} else {
						$("input[name='reprinturl']").css('display', 'none');
					}
				});
				
				$('#form_article').submit(function(){
			        /* 获取src和alt的代码
			        var re = /<img([^>]+?)>/ig;
				    var s = document.getElementById("test-editormd").innerHTML;
				    var str=""
				    var tempImg=""
				    var re1=/alt\s*=\s*([^\s]+)/i
				    var re2=/src\s*=\s*(["'])([^"']+)\1/i
				    while(re.exec(s))
				    {
				        tempImg=RegExp.$1
				        str+=((re1.test(tempImg))?RegExp.$1:"")+","
				        re2.test(tempImg)
				        str+=((re2.test(tempImg))?RegExp.$2:"")+"\r\n"
				    }
				    console.info(str);*/
				   var re = /<img([^>]+?)>/ig;
				    var s = document.getElementById("test-editormd").innerHTML;
				    var str=""
				    var tempImg=""
				    var re1=/alt\s*=\s*([^\s]+)/i
				    var re2=/src\s*=\s*(["'])([^"']+)\1/i
				    while(re.exec(s))
				    {
				        tempImg=RegExp.$1
				        re2.test(tempImg)
				        str+=((re2.test(tempImg))?RegExp.$2:"");
				        break; // 只获取第一条就行了
				    }
				    //console.info(str);
				    $('#coverurl').val(str);
				});
            });
        </script>
        
        <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" type="text/css" />
        <script src="/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
        <script src="/js/jquery.colorpicker.js" type="text/javascript"></script>
    </body>
</html>