<style type="text/css">
	.m-actlist-1 {
		margin: 20px -50px 0 0;
	}
	
	.m-actlist-1 .cont {
		float: left;
		width: 46%;
		margin: 0 12px 24px 12px;
		padding: 16px 20px 20px;
		border: 1px solid #EDEDEF;
	}
	
	.m-actlist-1 .cont .txt {
		position: relative;
		zoom: 1;
	}
	
	.m-actlist .tit {
		display: inline-block;
		padding: 0 0 8px;
		font: bold 16px/1.8 Microsoft Yahei;
	}
	
	.m-actlist-1 .tit2 {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.m-actlist-1 .item {
		width: 164px;
		height: 164px;
	}
	
	.m-actlist-1 .item img {
		width: 164px;
		height: 164px;
		margin-bottom: 5px;
	}
	/*=========瀑布流部分===========*/
	.grid-item {
		width: 20em;
	}
	/*=========瀑布流部分===========*/
</style>

<!-- 页头组件能够为 h1 标签增加适当的空间，并且与页面的其他部分形成一定的分隔。 -->
<ul id="myTab" class="nav nav-tabs nav-justified">
	<li>
		<a href="#first-tab-alt" data-toggle="tab">推荐</a>
	</li>
	<li class="active">
		<a href="#second-tab-alt" data-toggle="tab">相册</a>
	</li>
	<li>
		<a href="#third-tab-alt" data-toggle="tab">看世界</a>
	</li>
</ul>

<div class="tab-content alt">
	<div class="tab-pane" id="first-tab-alt">
		<div class="section-content">
			<div class="m-actlist m-actlist-1">
				<div class="boxtt">
					<div class="cont ">
						<div class="txt">
							<a href="#" class="tit" target="_blank">雕刻完美时光</a>
							<span class="f-fs0 s-fc2 tit2"><strong>8406参与</strong></span>
						</div>
						<div class="list">
							<a href="#" target="_blank"> <span class="item"> <img onerror="onerror=null;src='/img/li.jpg'" src="/static/upload/smallpic/20160714/1468426326469360990.jpg" /> </span> </a>
							<a href="#" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360923.jpg" /> </span> </a>
							<a href="#" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360900.jpg" /> </span> </a>
							<a href="#" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360423.jpg" /> </span> </a>
							<a href="#" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360423.jpg" /> </span> </a>
							<a href="#" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360567.jpg" /> </span> </a>
						</div>
					</div>
					<div class="cont">
						<div class="txt">
							<a href="" class="tit" target="_blank">App首页交给你</a>
							<span class="f-fs0 s-fc2 tit2"><strong>42747参与</strong></span>
						</div>
						<div class="list">
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360543.jpg" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360081.jpg" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1057220012542211092.jpg" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/6597647010263139735.png" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360012.jpg" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360666.jpg" /> </span> </a>
						</div>
					</div>
				</div>
				<div class="boxtt">
					<div class="cont ">
						<div class="txt">
							<a href="" class="tit" target="_blank">一起来臭美吧✔</a>
							<span class="f-fs0 s-fc2 tit2"><strong>3820参与</strong></span>
						</div>
						<div class="list">
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360117.jpg" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360489.jpg" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360037.jpg" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360123.jpg" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="/static/upload/smallpic/20160714/1468426326469360814.jpg" /> </span> </a>
							<a href="" target="_blank"> <span class="item"> <img src="http://imglf2.ph.126.net/OC1_RPJBVmVTSRoY5bAung==/6619345872235997669.jpg" /> </span> </a>
						</div>
					</div>
					<div class="cont ">
						<div class="txt">
							<a href="http://www.lofter.com/tag/%E6%AF%8F%E5%A4%A9%E6%8E%A8%E9%A6%96%E6%AD%8C%E7%BB%99%E4%BD%A0" class="tit" target="_blank">每天推首歌给你</a>
							<span class="f-fs0 s-fc2 tit2"><strong>67351参与</strong></span>
						</div>
						<div class="list">
							<a href="http://www.lofter.com/tag/%E6%AF%8F%E5%A4%A9%E6%8E%A8%E9%A6%96%E6%AD%8C%E7%BB%99%E4%BD%A0?first=17e309_f94f55e" target="_blank">
								<span class="item">
		        				<img src="http://p1.music.126.net/bsDBcoFBF5tHlQstM6pXIA==/824633720832236.jpg" style="visibility: visible; width: 164px; height: auto; top: 0px;" >
		    					<span class="icover"></span>
								<span class="w-type"></span>
								</span>
							</a>
							<a href="http://www.lofter.com/tag/%E6%AF%8F%E5%A4%A9%E6%8E%A8%E9%A6%96%E6%AD%8C%E7%BB%99%E4%BD%A0?first=1e902962_f950898" target="_blank">
								<span class="item">
		        				<img src="http://p1.music.126.net/BIyGf3IHCwybQx8Meq88iQ==/7758154046487085.jpg" style="visibility: visible; width: 164px; height: auto; top: 0px;" >
		    					<span class="icover"></span>
								<span class="w-type"></span>
								</span>
							</a>
							<a href="http://www.lofter.com/tag/%E6%AF%8F%E5%A4%A9%E6%8E%A8%E9%A6%96%E6%AD%8C%E7%BB%99%E4%BD%A0?first=1cbb66a4_f94b7a3" target="_blank">
								<span class="item">
		        				<img src="http://p1.music.126.net/W-WHCe2sQK1MQ_ftE8oCcA==/7760353069698404.jpg" style="visibility: visible; width: 164px; height: auto; top: 0px;" >
		    					<span class="icover"></span>
								<span class="w-type"></span>
								</span>
							</a>
							<a href="http://www.lofter.com/tag/%E6%AF%8F%E5%A4%A9%E6%8E%A8%E9%A6%96%E6%AD%8C%E7%BB%99%E4%BD%A0?first=1ed7252b_f94f8ad" target="_blank">
								<span class="item">
		        				<img src="http://p1.music.126.net/LA1brUUbIH8sI3zfGlXpiA==/17972617067841962.jpg" style="visibility: visible; width: 164px; height: auto; top: 0px;" >
		    					<span class="icover"></span>
								<span class="w-type"></span>
								</span>
							</a>
							<a href="http://www.lofter.com/tag/%E6%AF%8F%E5%A4%A9%E6%8E%A8%E9%A6%96%E6%AD%8C%E7%BB%99%E4%BD%A0?first=43357c_f94e557" target="_blank">
								<span class="item">
		        				<img src="http://p1.music.126.net/BzOMTcxPUrMA17wlhMqLJQ==/18820340533958096.jpg" style="visibility: visible; width: 164px; height: auto; top: 0px;" >
		    					<span class="icover"></span>
								<span class="w-type"></span>
								</span>
							</a>
							<a href="http://www.lofter.com/tag/%E6%AF%8F%E5%A4%A9%E6%8E%A8%E9%A6%96%E6%AD%8C%E7%BB%99%E4%BD%A0?first=1ea95a30_f94b374" target="_blank">
								<span class="item">
		        				<img src="http://p1.music.126.net/t6I1wXzwEFgnuILeNTCpOg==/18705991325196442.jpg" style="visibility: visible; width: 164px; height: auto; top: 0px;" >
		    					<span class="icover"></span>
								<span class="w-type"></span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane active" id="second-tab-alt">
		<div class="section-content">
			<br />
			<div class="row masonry-container">
				{{range $k, $v := .list}}
				<div class="item" style="margin: auto 0.5em;">
					<div class="thumbnail">
						<a href="/blog/album{{$v.Id}}.html"><img src="{{$v.Cover}}" alt="{{$v.Name}}" /></a>
						<div class="caption">
							<h3>&middot;{{$v.Name}}</h3>
							<p>{{$v.Content}}</p>
							<p>
								<i class="fa fa-heart-o" aria-hidden="true"></i>
								<i class="fa fa-eye" aria-hidden="true"></i>
							</p>
						</div>
					</div>
				</div>
				{{end}}
			</div>
			<div class="row">{{str2html .pagebar}}</div>
		</div>
		<br />
		<br />
	</div>
	<div class="tab-pane" id="third-tab-alt">
		<div class="section-content">
			<br />
			<div class="row masonry-container-1" id="all_photos">
			</div>
		</div>
	</div>

</div>

<script src="https://cdn.bootcss.com/jquery.imagesloaded/4.1.3/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.bootcss.com/masonry/4.2.0/masonry.pkgd.min.js"></script>
<script type="text/javascript">
	(function($) {
		var $container = $('.masonry-container');
		$container.imagesLoaded(function() {
			$container.masonry({
				itemSelector: '.item',
				columnWidth: '.item'
			});
		});

		//Reinitialize masonry inside each panel after the relative tab link is clicked - 
		$('a[data-toggle=tab]').each(function() {
			var $this = $(this);
			$this.on('click', function() {
				$container.imagesLoaded(function() {
					$container.masonry({
						columnWidth: '.item',
						itemSelector: '.item'
					});
				});
			}); //end shown
		}); //end each

		// 在某个标签页已经显示之后触发和上面的each作用类似
		$('a[data-toggle=tab]').on('shown.bs.tab', function(e) {
			var activeTab = $(e.target).text();
			//console.info(e.target);
		});

		$('#myTab a[href="#third-tab-alt"]').click(function(e) {
			e.preventDefault(); //阻止a链接的跳转行为
			$.ajax({
				url: "/blog/photo/all",
				type: "get",
				cache: true,
				async: true,
				success: function(data) {
					if(0 != data.code) { // 返回0代表成功，其他失败
						toastr.error("code: " + data.code + " message: " + data.message);
					} else {
						var str = "";
						data.data.list.forEach(function(value, index, array) {
							str += '<div class="grid-item" style="margin: auto 0.5em;">\
								<div class="thumbnail">\
								    <a href="/blog/album' + value.Albumid + '.html"><img src="' + value.Url + '" alt="' + value.Des + '" /></a>\
									<div class="caption">\
										<h3>&middot;' + value.Albumname + '</h3>\
										<p>' + value.Des + '</p>\
										<p>\
											<i class="fa fa-heart-o" aria-hidden="true"></i>\
										</p>\
									</div></div></div>';
						});
						$('#all_photos').html(str);
					}
				}
			}).then(function() {
				var $container_1 = $('.masonry-container-1');
				$container_1.imagesLoaded(function() {
					$container_1.masonry({
						columnWidth: '.grid-item',
						itemSelector: '.grid-item'
					});
				});
			});
			$(this).tab('show'); //显示当前选中的链接及关联的content
		});

	})(jQuery);
</script>