<div class="pin_outer">
	<div class="row">
		<div class="col-md-1">
			<div class="pin_inner">
				<a href="/user/someone?key={{.userid}}" target="_blank"><img class="img-rounded" width="100% \9;" src="{{.avatarurl}}" /></a>
			</div>
		</div>
		<div class="col-md-11">
			<h5>{{.username}}</h5>
			<p>{{.information}}</p>
		</div>
	</div>

	<hr /> {{range $k, $v := .list}}
	<!-- 遍历文章短讯文摘 -->
	<div class="row" style="padding: %2 %5;">
		<div class="col-md-1"></div>
		<div class="col-md-11">
			<div class="row">
				<div {{if $v.Coverurl}} class="col-md-8" {{else}} class="col-md-12" {{end}}>
					<p>
						<a href="{{$v.Link}}" target="_blank">
							<h4>{{str2html $v.Title}}</h4></a>
					</p>
					<!--<p class="wrap">{{substr (html2str $v.Excerpt) 0 300|str2html }}</p>-->
					<p class="wrap" style="font-size: 1.2em; line-height:2em;">{{$v.Digest}}</p>
				</div>
				{{if $v.Coverurl}}
				<div class="col-md-4">
					<div class="imgc">
						<a href="{{$v.Link}}"> <img class="img-rounded" width="100%" src="{{$v.Coverurl}}" /></a>
					</div>
				</div>
				{{end}}
			</div>
			<div class="row">
				<ul class="nav nav-pills navbar-left">
					<li>
						<a href="#">{{date $v.Posttime "Y-m-j"}}</a>
					</li>
					<li>{{str2html $v.TagsLink}}</li>
					<li>
						<a href="" hidefocus="true" title="喜欢" onclick="likeit(this)" class="glyphicon glyphicon-heart-empty"></a>
					</li>
					<li>
						<a href="#" title="关注此用户" onclick="follow({{$v.Username}})" class="glyphicon glyphicon glyphicon-plus"></a>
					</li>
					<li>
						<a href="https://www.liberalman.cn" target="_blank" title="分享" class="glyphicon glyphicon-share"></a>
					</li>
					<li>
						<a>{{if eq $v.Pubtype 1}} 【转载】 {{else}} 【原创】 {{end}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<hr/> {{end}}

	<div class="row">{{str2html .pagebar}}</div>

</div>

<br />
<script type="text/javascript">
	function author(name) {
		toastr.info('作者：' + name);
	}

	function follow(name) {
		toastr.warning('+关注：' + name);
	}

	function likeit(myself) {
		toastr.success('喜欢此文！');
		$(myself).removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
	}
</script>