<script src="https://cdn.bootcss.com/unslider/2.0.3/js/unslider-min.js"></script>
<link href="https://cdn.bootcss.com/unslider/2.0.3/css/unslider.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/unslider/2.0.3/css/unslider-dots.css" rel="stylesheet">
<script type="text/javascript">
	$(document).ready(function() {
		//启动轮播效果
		$('.banner').unslider({
			speed: 500, //  The speed to animate each slide (in milliseconds)
			delay: 3000, //  The delay between slide animations (in milliseconds)
			complete: function() {}, //  A function that gets called after every slide animation
			keys: true, //  Enable keyboard (left, right) arrow shortcuts
			dots: true, //  Display dot navigation
			fluid: true, //  Support responsive design. May break non-responsive designs
			autoplay: true,
			arrows: false, // 是否显示上一页，下一页的箭头
		});
	});
</script>
<div class="banner">
	<ul id="s1">
		<li><img src="/img/example-slide-1.jpg" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/" height="200px" width="100%" /></li>
		<li><img src="/img/example-slide-2.jpg" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/" height="200px" width="100%" /></li>
		<li><img src="/img/example-slide-3.jpg" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/" height="200px" width="100%" /></li>
		<li><img src="/img/example-slide-4.jpg" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/" height="200px" width="100%" /></li>
	</ul>
</div>