<link href="https://cdn.bootcss.com/unslider/2.0.3/css/unslider.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/unslider/2.0.3/css/unslider-dots.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/lightbox2/2.9.0/css/lightbox.min.css" rel="stylesheet">
<div class="banner">
	<ul>
		{{range $k, $v := .photos}}
		<li><a href="{{$v.Url}}" data-lightbox="lightbox_" title="{{$v.Des}}">
				<img src="{{$v.Small}}" alt="{{$v.Des}}" height="auto" width="100%" />
			</a></li>
		{{end}}
	</ul>
</div>
<script src="https://cdn.bootcss.com/lightbox2/2.9.0/js/lightbox.min.js"></script>
<script src="https://cdn.bootcss.com/unslider/2.0.3/js/unslider-min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//启动轮播效果
		$('.banner').unslider({
			speed: 500, //  The speed to animate each slide (in milliseconds)
			delay: 3000, //  The delay between slide animations (in milliseconds)
			complete: function() {}, //  A function that gets called after every slide animation
			keys: true, //  Enable keyboard (left, right) arrow shortcuts
			dots: true, //  Display dot navigation
			fluid: true, //  Support responsive design. May break non-responsive designs
			autoplay: true,
			arrows: false, // 是否显示上一页，下一页的箭头
		});
	});
</script>