<header>
	<!-- Fixed navbar style="background: rgb(246, 111, 111);" -->
	<nav class="navbar navbar-inverse">
		<!-- navbar-fixed-top 置顶 -->
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/">LIBERALMAN</a>
				<a class="navbar-brand" href="#">
					<!-- navbar-brand 品牌图标 -->
					<img alt="Brand" src="{{.staticPath}}/favicon.ico" /> </a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a class="glyphicon glyphicon-home" href="/"></a>
					</li>
					<li>
						<a href="/album.html">相册</a>
					</li>
					<li>
						<a href="#contact">联系我们</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/login">登录</a>
							</li>
							<li>
								<a href="/album1.html">相册1</a>
							</li>
							<li>
								<a href="/mood.html">mood</a>
							</li>
							<li>
								<a href="#">Another action</a>
							</li>
							<li>
								<a href="#">Something else here</a>
							</li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li>
								<a href="#">Separated link</a>
							</li>
							<li>
								<a href="/user/logout">注销</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="navbar-text">
					<a href="#">消息 <span class="badge">42</span></a>
				</div>
				<form class="navbar-form navbar-right" role="search" action="/search">
					<div class="input-group" role="navigation">
						<input type="text" class="form-control" placeholder="搜搜搜..." name="key" id="key" onfocus="this.isfocus = true;" />
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						   </button>
						</span>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">{{.username}}</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
</header>