<div class="row">
	<!--<div class="col-md-1">
		<a href="/user/someone?key=" target="_blank"><img class="img-rounded" width="100% \9;" src="{{.avatarurl}}" /></a>
	</div>-->
	<div class="col-md-11">
		<ul class="nav nav-pills">
			<li role="presentation">
				<a class="nav1 active" href="/article/addmarkdown"><label>发布文章</label></a>
			</li>
			<li role="presentation">
				<a class="nav1" href="/article/add"><label>广场新</label></a>
			</li>
			<li role="presentation">
				<a class="nav1" href="/admin/article/add"><label>发布文章</label></a>
			</li>
			<li role="presentation">
				<a class="nav1" href="#"><label>刷新</label></a>
			</li>
		</ul>
	</div>
</div>

<hr /> {{range $k, $v := .list}}
<!-- 遍历文章短讯文摘 -->
<div class="row pin_outer" style="padding: %2 %5;">
	<div class="col-md-1">
		<div class="pin_inner">
			<a onclick="author({{$v.Username}}, {{$v.Userid}})" title="{{$v.Username}}" data-toggle="tooltip" data-placement="top">
				<img class="img-circle img-responsive center-block" src="{{$v.Avatarurl}}" />
			</a>
		</div>
	</div>
	<div class="col-md-11 pin_outer">
		<div class="row">
			<div {{if $v.Coverurl}} class="col-md-8" {{else}} class="col-md-12" {{end}}>
				<p>
					<a href="{{$v.Link}}" target="_blank">
						<h4>{{str2html $v.Title}}</h4></a>
				</p>
				<!--<p class="wrap">{{substr (html2str $v.Excerpt) 0 300|str2html }}</p>-->
				<p class="wrap" style="font-size: 1.2em; line-height:2em;">{{$v.Digest}}</p>
			</div>
			{{if $v.Coverurl}}
			<div class="col-md-4">
				<div class="imgc">
					<a href="{{$v.Link}}"> <img class="img-rounded pin_inner" width="100%" src="{{$v.Coverurl}}" /></a>
				</div>
			</div>
			{{end}}
		</div>
		<div class="row">
			<ul class="nav nav-pills navbar-left">
				<li>
					<a><time class="timeago" datetime={{date $v.Posttime "Y-m-j"}}>about 8 hours ago</time></a>
				</li>
				<li>
					<a href="#">{{date $v.Posttime "Y-m-j"}}</a>
				</li>
				<li>{{str2html $v.TagsLink}}</li>
				<li>
					<a href="" hidefocus="true" title="喜欢" onclick="likeit(this)" class="glyphicon glyphicon-heart-empty"></a>
				</li>
				<li>
					<a href="#" title="关注此用户" onclick="follow({{$v.Username}})" class="glyphicon glyphicon glyphicon-plus"></a>
				</li>
				<li>
					<a href="https://www.liberalman.cn" target="_blank" title="分享" class="glyphicon glyphicon-share"></a>
				</li>
				<li>
					<a>{{if eq $v.Pubtype 1}} 【转载】 {{else}} 【原创】 {{end}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<hr/> {{end}}

<div class="row">{{str2html .pagebar}}</div>
<br />

<script type="text/javascript">
	function author(name, userid) {
		toastr.info('作者：' + name);
		window.location.href = "/user/" + userid;
	}

	function follow(name) {
		toastr.warning('+关注：' + name);
	}

	function likeit(myself) {
		toastr.success('喜欢此文！');
		$(myself).removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
	}
</script>