<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LIBERALMAN - 登录/注册</title>
		<meta name="description" content="{{.description}}" />
		<meta name="keywords" content="{{.keywords}}" />
		<meta property="qc:admins" content="325526204764125214516636" /><!-- QQ第三方登录 http://connect.qq.com/ -->
        <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> only ssl open -->
        
        <!-- CSS -->
        <link rel='stylesheet' href='/views/lofter/login/css.css?family=PT+Sans:400,700'>
        <link rel="stylesheet" href="/views/lofter/login/css/reset.css">
        <link rel="stylesheet" href="/views/lofter/login/css/supersized.css">
        <link rel="stylesheet" href="/views/lofter/login/css/style.css">
        <link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
		{{str2html .options.stat}}
	</head>

	<body>
		{{.LayoutContent}}
	</body>

</html>