<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{.title}}</title>
		<meta name="author" content="netease" />
		<meta name="version" content="1.0" />
		<meta name="keywords" content="{{.keywords}}">
		<meta name="description" content="{{.description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="{{.staticPath}}/favicon.ico" rel="icon">

		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<!--<link href="{{.staticPath}}/css/flat-ui.min.css" rel="stylesheet">-->
		<link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">
		<!--<link href="{{.staticPath}}/css/grumble.min.css" rel="stylesheet">-->
		<link href="./css/style1.css" rel="stylesheet">
		<!--<link href="./css/style-1.less" rel="stylesheet/less" type="text/css">-->

		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		{{str2html .hidejs}}
		{{str2html .options.stat}}
	</head>

	<body>
		{{.header}}
		<div class="container">
			<div class="row">
				{{if .no_right}}
				<!-- 主窗口 -->
				{{.LayoutContent}} {{else}}
				<div class="col-md-9">
					<!-- 左侧主窗口 -->
					{{.LayoutContent}}
				</div>
				<div class="col-md-3">
					<!-- 右侧边栏窗口 -->
					{{.right}}
				</div>
				{{end}}
			</div>
		</div>
		{{.footer}}
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
		<!-- must use this， i modify it -->
		<script src="/js/jquery.pin.min.js"></script>

		<!--<script src="{{.staticPath}}/js/jquery.grumble.min.js"></script>-->
		<!--<script src="https://cdn.bootcss.com/less.js/3.0.0-pre.4/less.min.js"></script>-->
		<!--<script type="text/javascript" src="{{.staticPath}}/js/stickUp.min.js"></script>
		<script type="text/javascript">
              jQuery(function($) {
                $(document).ready( function() {
                  //enabling stickUp on the '.navbar-wrapper' class
                  $('#my_album').stickUp();
                });
              });
        </script>-->

		<script type="text/javascript">
			// 将某元素“钉”在容器内
			$(".pin2").pin({
				containerSelector: ".pin1"
			});
		</script>

	</body>

</html>