<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LIBERALMAN - 登录/注册</title>
		<meta name="description" content="{{.description}}" />
		<meta name="keywords" content="{{.keywords}}" />
		<meta property="qc:admins" content="325526204764125214516636" />
		<!-- QQ第三方登录 http://connect.qq.com/ -->
		<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> only ssl open -->
		<style>
			html,
			body {
				height: 100%;
				overflow: hidden;
			}
		</style>
		<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/unslider/2.0.3/css/unslider.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/unslider/2.0.3/css/unslider-dots.css" rel="stylesheet">
		<link href="/css/login-register.css" rel="stylesheet" />

		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/login-register.js" type="text/javascript"></script>
		
		{{str2html .options.stat}}

	</head>

	<body>
		<div style="position:relative">
			<div style="z-index: -1;position:absolute;">
				<div class="banner">
					<ul>
						<li><img src="img/background/1.jpg" width="100%" alt="aaa"></li>
						<li><img src="img/background/2.jpg" width="100%"></li>
						<li><img src="img/background/3.jpg" width="100%"></li>
						<li><img src="img/background/smb_owner-1.jpg" width="100%"></li>
						<li><img src="img/background/smb_owner-2.jpg" width="100%"></li>
						<li><img src="img/background/smb_owner.jpg" width="100%"></li>
					</ul>
				</div>
			</div>

			<div class="container" style="padding-top: 20em;">
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<a class="btn big-login" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in</a>
						<a class="btn big-register" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Register</a>
					</div>
					<div class="col-sm-4"></div>
				</div>
				<hr />
				<div class="row" align="center">
					<a href="/">首页</a>
					<span>
						背景作品来自：<a href="http://liberalman.lofter.com" target="_blank" title="liberalman">liberalman.lofter.com</a>
					</span>
				</div>

				<div class="modal fade login" id="loginModal">
					<div class="modal-dialog login animated">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Login with</h4>
							</div>
							<div class="modal-body">
								<div class="box">
									<div class="content">
										<div class="social">
											<a class="circle github" href="/auth/github">
												<i class="fa fa-github fa-fw"></i>
											</a>
											<a id="google_login" class="circle google" href="/auth/google_oauth2">
												<i class="fa fa-google-plus fa-fw"></i>
											</a>
											<a class="circle">
												<i class="fa fa-fw" id="qqLoginBtn"></i>
											</a>
										</div>
										<div class="division">
											<div class="line l"></div>
											<span>or</span>
											<div class="line r"></div>
										</div>
										<div class="error"></div>
										<div class="form loginBox">
											<form id="form-login" method="post" accept-charset="UTF-8">
												<input id="username" class="form-control" type="text" placeholder="Username/Email" name="username">
												<input id="password" class="form-control" type="password" placeholder="Password" name="password">
												<div class="checkbox">
													<label>
												      <input id="remember" type="checkbox" name="remember"> 记住7天
												    </label>
												</div>
												<input class="btn btn-default btn-login" type="submit" value="Login">
											</form>
										</div>
									</div>
								</div>
								<div class="box">
									<div class="content registerBox" style="display:none;">
										<div class="form">
											<form id="form-register" method="post" html="{:multipart=>true}" data-remote="true" accept-charset="UTF-8">
												<input id="username" class="form-control" type="text" placeholder="用户名" name="username">
												<input id="email" class="form-control" type="text" placeholder="Email" name="email">
												<input id="password" class="form-control" type="password" placeholder="Password" name="password">
												<input id="password_confirmation" class="form-control" type="password" placeholder="确认密码" name="password_confirmation">
												<input class="btn btn-default btn-register" type="submit" value="注册">
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="forgot login-footer">
									<span>Looking to 
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
								</div>
								<div class="forgot register-footer" style="display:none">
									<span>Already have an account?</span>
									<a href="javascript: showLoginForm();">Login</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
		<script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
		<script src="https://cdn.bootcss.com/unslider/2.0.3/js/unslider-min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {

				var islogin = 1;

				$('.banner').unslider({
					speed: 500, //  The speed to animate each slide (in milliseconds)
					delay: 3000, //  The delay between slide animations (in milliseconds)
					complete: function() {}, //  A function that gets called after every slide animation
					keys: true, //  Enable keyboard (left, right) arrow shortcuts
					dots: true, //  Display dot navigation
					fluid: true //  Support responsive design. May break non-responsive designs
				});

				$("#form-login").validate({
					rules: {
						username: {
							required: true,
							minlength: 2
						},
						password: {
							required: true,
							minlength: 6
						}
					},
					messages: {
						username: {
							required: '<font color="red">请输入用户名!</font>',
							minlength: '<font color="red">用户名长度不能小于 2 个字母!</font>'
						},
						password: {
							required: '<font color="red">请输入密码!</font>',
							minlength: '<font color="red">密码长度不能小于 6 个字母!</font>'
						}
					},
					// 使用 ajax 方式提交
					submitHandler: function(form) {
						$.post('/login',
							$(form).serialize(),
							function(data) {
								if("0" != data) { // 返回0代表成功，其他失败
									toastr.error(data);
								} else {
									toastr.success('登录成功');
									window.location = "/"; //跳转到首页
								}
							});
					},
					// 指明错误放置的位置，默认情况是：error.appendTo(element.parent());即把错误信息放在验证的元素后面。
					errorPlacement: function(error, element) {
						toastr.error(error[0].innerText);
						$(element).closest("form").find("input").removeClass('error'); //这个1.8.2版本的jquery和validate配合有问题，这里需要去除下error，不然input框会被删除。
						//$(element).closest("form").find("input[name='" + element.attr("id") + "']").append(error); //追加到某个input之后
					}
				});

				$("#form-register").validate({
					rules: {
						username: {
							required: true,
							minlength: 1
						},
						email: {
							required: true,
							email: true
						},
						password: {
							required: true,
							minlength: 6
						},
						password_confirmation: {
							required: true,
							minlength: 6,
							equalTo: "#form-register #password"
						}
					},
					messages: {
						username: {
							required: '<font color="red">请输入用户名!</font>',
							minlength: '<font color="red">用户名长度不能小于 2 个字母!</font>'
						},
						email: "请输入一个正确的邮箱",
						password: {
							required: '<font color="red">请输入密码!</font>',
							minlength: '<font color="red">密码长度不能小于 6 个字母!</font>'
						},
						password_confirmation: {
							required: "请输入密码",
							minlength: "密码长度不能小于 6 个字母",
							equalTo: "两次密码输入不一致"
						}
					},
					// 使用 ajax 方式提交
					submitHandler: function(form) {
						$.post('/register',
							$(form).serialize(),
							function(data) {
								if(0 != data.Code) { // 返回0代表成功，其他失败
									toastr.error("Code: " + data.Code + " Error: " + data.Message);
								} else {
									toastr.success(data.Message);
									window.location = "/"; //跳转
								}
							});
					},
					// 指明错误放置的位置，默认情况是：error.appendTo(element.parent());即把错误信息放在验证的元素后面。
					errorPlacement: function(error, element) {
						toastr.error(error[0].innerText);
						//$(element).closest("form").find("input").removeClass('error'); //这个1.8.2版本的jquery和validate配合有问题，这里需要去除下error，不然input框会被删除。
						$(element).closest("form").find("input[name='" + element.attr("id") + "']").append(error);
					}
				});
			});
		</script>

		<!-- QQ第三方登录 -->
		<script type="text/javascript" src="https://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101345272" data-redirecturi="https://www.liberalman.cn/login/callback" charset="utf-8"></script>
		<script type="text/javascript">
			QC.Login({
				btnId: "qqLoginBtn",
				size: "C_S"
			}, function(oInfo, oOpts) {
				//console.info(oInfo); // 昵称
				//console.info(oOpts); // 点击登录的按钮Id
				QC.Login.getMe(function(openId, accessToken) {
					// 提交登录信息到本人网站
					$.post('/login/qqlogin', {
						openid: openId,
						accesstoken: accessToken,
						nickname: oInfo.nickname,
						avatarUrl: oInfo.figureurl_qq_2
					}, function(data) {
						if('0' != data) {
							toastr.error(data);
						} else {
							toastr.success('登录成功');
							window.location = "/"; //跳转到首页
						}
					});
				});
			});

			/*//调用QC.Login方法，指定btnId参数将按钮绑定在容器节点中
				   QC.Login({
				       //btnId：插入按钮的节点id，必选
				       btnId:"qqLoginBtn",    
				       //用户需要确认的scope授权项，可选，默认all
				       scope:"all",
				       //按钮尺寸，可用值[A_XL| A_L| A_M| A_S|  B_M| B_S| C_S]，可选，默认B_S
				       size: "A_XL"
				   }, function(reqData, opts){//登录成功
				   	
				       //根据返回数据，更换按钮显示状态方法
				       var dom = document.getElementById(opts['btnId']),
				       _logoutTemplate=[
				            //头像
				            '<span><img src="{figureurl}" class="{size_key}"/></span>',
				            //昵称
				            '<span>{nickname}</span>',
				            //退出
				            '<span><a href="javascript:QC.Login.signOut();">退出</a></span>'    
				       ].join("");
				       dom && (dom.innerHTML = QC.String.format(_logoutTemplate, {
				           nickname : QC.String.escHTML(reqData.nickname), //做xss过滤
				           figureurl : reqData.figureurl
				       }));
				   }, function(opts){//注销成功
				         alert('QQ登录 注销成功');
				   });*/
		</script>
	</body>

</html>