<style type="text/css">
	/*=========瀑布流部分===========*/
	/*.grid-item {
		width: 200px;
	}
	
	.grid-item--width2 {
		width: 400px;
	}*/
	
	.grid-item {
		width: 25%;
	}
	
	.grid-item img {
		width: 100%;
	}
	
	.grid-item--width2 {
		width: 50%;
	}
	/*=========瀑布流部分===========*/
</style>
<div class="masonry-container">
	{{range $k, $v := .list}}
	<div class="grid-item"><img src="{{$v.Small}}" alt="{{$v.Des}}" title="{{$v.Des}}"/></div>
	{{end}}
</div>
<script src="https://cdn.bootcss.com/jquery.imagesloaded/4.1.3/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.bootcss.com/masonry/4.2.0/masonry.pkgd.min.js"></script>
<script type="text/javascript">
	(function($) {
		var $container = $('.masonry-container');
		$container.imagesLoaded(function() {
			$container.masonry({
				itemSelector: '.grid-item',
				columnWidth: '.grid-item'
			});
		});

		//Reinitialize masonry inside each panel after the relative tab link is clicked - 
		$('a[data-toggle=tab]').each(function() {
			var $this = $(this);

			$this.on('click', function() {

				$container.imagesLoaded(function() {
					$container.masonry({
						columnWidth: '.grid-item',
						itemSelector: '.grid-item'
					});
				});

			}); //end shown
		}); //end each

	})(jQuery);
</script>