<style>
	.banner {
		background: url(../images/banner_top.jpg) top center;
		overflow: hidden;
	}
</style>
<div class="panel panel-info">
	<div class="panel-body">
		<div style="text-align:center;">
			<div>
				<a href="/admin"><img class="img-circle center-block img-responsive" width="40%" src="{{.avatarurl}}" name="avatorUrl" /></a>
			</div>
			<h3><a href="/admin">{{.username}}</a></h3>
			<p>
				<h3>Hi</h3></p>
		</div>
		
			{{.banner}}
		
	</div>
	<div class="panel-footer">
		Hi，i'm footer.
	</div>
</div>

<div class="list-group">
	<a class="list-group-item" onclick="publish({{.post_count}})"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;我的帖子<span class="badge" name="stateCount">{{.post_count}}</span></a>
	<a class="list-group-item" onclick="followed({{.follow_count}})"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;粉丝<span class="badge" name="followingCnt">{{.follow_count}}</span></a>
	<a class="list-group-item" href="/admin"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;后台管理</a>
</div>

<div class="list-group">
	<span class="list-group-item disabled">最新文章</span> {{range $k,$v := .latestblog}}
	<a class="list-group-item wrap" href="{{$v.Link}}" title="{{$v.Digest}}">
		<span class="us xtag">{{$v.Title}}</span><span class="badge">{{$v.Views}}</span>
	</a>
	{{end}}
</div>

<div class="list-group">
	<span class="list-group-item disabled">阅读排行</span> {{range $k,$v := .hotblog}}
	<a class="list-group-item" href="{{$v.Link}}" title="{{$v.Digest}}">
		<span class="us xtag">{{str2html $v.Title}}</span><span class="badge">{{$v.Views}}</span>
	</a>
	{{end}}
</div>
<div>
	<h3><p>最近访客</p></h3>
	<ul class="ds-recent-visitors" data-num-items="24">

	</ul>
</div>
<script type="text/javascript">
	function publish(count) {
		toastr.success('发帖：' + count + '条');
	}

	function followed(count) {
		toastr.error('粉丝：' + count + '个');
	}
</script>