<div data-role="header" class="jqm-header">
	<h2><a href="/" title="jQuery Mobile Demos home"> </a></h2>
	<a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">菜单</a>
	<a href="#" class="jqm-search-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-search ui-nodisc-icon ui-alt-icon ui-btn-right">搜索</a>
</div>

<!-- 菜单 -->
<div data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a">
	<ul class="jqm-list ui-alt-icon ui-nodisc-icon">
		<li data-filtertext="demos homepage" data-icon="home">
			<a href="/">主页</a>
		</li>
		<li data-role="collapsible" data-enhanced="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false" class="ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed">
			<h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
							<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-right ui-btn-inherit ui-icon-carat-d">
							    相册<span class="ui-collapsible-heading-status"> click to expand contents</span>
							</a>
						</h3>
			<div class="ui-collapsible-content ui-body-inherit ui-collapsible-content-collapsed" aria-hidden="true">
				<ul>
					<li data-filtertext="form checkboxradio widget checkbox input checkboxes controlgroups">
						<a href="/album.html" data-ajax="false">相册</a>
					</li>
					<li data-filtertext="form checkboxradio widget radio input radio buttons controlgroups">
						<a href="/album1.html" data-ajax="false">相册1</a>
					</li>
				</ul>
			</div>
		</li>
		<li data-filtertext="form datepicker widget date input">
			<a href="/login" data-ajax="false">登录</a>
		</li>

	</ul>
</div>

<!-- TODO: This should become an external panel so we can add input to markup (unique ID) -->
<div data-role="panel" class="jqm-search-panel" data-position="right" data-display="overlay" data-theme="a">
	<div class="jqm-search">
		<ul class="jqm-list" data-filter-placeholder="Search demos..." data-filter-reveal="true">
			<li data-filtertext="demos homepage" data-icon="home">
				<a href=".././">Home</a>
			</li>
			<li data-filtertext="introduction overview getting started">
				<a href="../intro/" data-ajax="false">Introduction</a>
			</li>
			<li data-filtertext="buttons button markup buttonmarkup method anchor link button element">
				<a href="../button-markup/" data-ajax="false">Buttons</a>
			</li>
			<li data-filtertext="form button widget input button submit reset">
				<a href="../button/" data-ajax="false">Button widget</a>
			</li>
			<li data-role="collapsible" data-enhanced="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false" class="ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed">
				<h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-right ui-btn-inherit ui-icon-carat-d">
		    Checkboxradio widget<span class="ui-collapsible-heading-status"> click to expand contents</span>
		</a>
	</h3>
				<div class="ui-collapsible-content ui-body-inherit ui-collapsible-content-collapsed" aria-hidden="true">
					<ul>
						<li data-filtertext="form checkboxradio widget checkbox input checkboxes controlgroups">
							<a href="../checkboxradio-checkbox/" data-ajax="false">Checkboxes</a>
						</li>
						<li data-filtertext="form checkboxradio widget radio input radio buttons controlgroups">
							<a href="../checkboxradio-radio/" data-ajax="false">Radio buttons</a>
						</li>
					</ul>
				</div>
			</li>
			<li data-role="collapsible" data-enhanced="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false" class="ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed">
				<h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-right ui-btn-inherit ui-icon-carat-d">
			Collapsible (set) widget<span class="ui-collapsible-heading-status"> click to expand contents</span>
		</a>
	</h3>
				<div class="ui-collapsible-content ui-body-inherit ui-collapsible-content-collapsed" aria-hidden="true">
					<ul>
						<li data-filtertext="collapsibles content formatting">
							<a href="../collapsible/" data-ajax="false">Collapsible</a>
						</li>
						<li data-filtertext="dynamic collapsible set accordion append expand">
							<a href="../collapsible-dynamic/" data-ajax="false">Dynamic collapsibles</a>
						</li>
						<li data-filtertext="accordions collapsible set widget content formatting grouped collapsibles">
							<a href="../collapsibleset/" data-ajax="false">Collapsible set</a>
						</li>
					</ul>
				</div>
			</li>
			<li data-role="collapsible" data-enhanced="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false" class="ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed">
				<h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-right ui-btn-inherit ui-icon-carat-d">
			Controlgroup widget<span class="ui-collapsible-heading-status"> click to expand contents</span>
		</a>
	</h3>
				<div class="ui-collapsible-content ui-body-inherit ui-collapsible-content-collapsed" aria-hidden="true">
					<ul>
						<li data-filtertext="controlgroups selectmenu checkboxradio input grouped buttons horizontal vertical">
							<a href="../controlgroup/" data-ajax="false">Controlgroup</a>
						</li>
						<li data-filtertext="dynamic controlgroup dynamically add buttons">
							<a href="../controlgroup-dynamic/" data-ajax="false">Dynamic controlgroups</a>
						</li>
					</ul>
				</div>
			</li>
			<li data-filtertext="form datepicker widget date input">
				<a href="../datepicker/" data-ajax="false">Datepicker</a>
			</li>
			<li data-role="collapsible" data-enhanced="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false" class="ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed">
				<h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
		<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-right ui-btn-inherit ui-icon-carat-d">
			Events<span class="ui-collapsible-heading-status"> click to expand contents</span>
		</a>
	</h3>
				<div class="ui-collapsible-content ui-body-inherit ui-collapsible-content-collapsed" aria-hidden="true">
					<ul>
						<li data-filtertext="swipe to delete list items listviews swipe events">
							<a href="../swipe-list/" data-ajax="false">Swipe list items</a>
						</li>
						<li data-filtertext="swipe to navigate swipe page navigation swipe events">
							<a href="../swipe-page/" data-ajax="false">Swipe page navigation</a>
						</li>
					</ul>
				</div>
			</li>

		</ul>
	</div>
</div>
<!-- /panel -->