<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta charset="utf-8" />
  <!-- 该页面参考 http://fishry.com/ -->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]--> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
  <meta name="google-site-verification" content="KdndASF57-BebrsFc5Jhd0-Cwf7Dn7G7gDp_GGNhG0I" /> 
  <title>LIBERALMAN - 登录/注册</title> 
  <meta name="description" content="Everything you need to sell online. Build your online store and start making sales." /> 
  <meta name="keywords" content="inventory management, online store, online storefront, ecommerce cloud hosting, sell online, ecommerce solution, professional ecommerce themes, online store management panel, mobile and responsive layout, saas technology, product management, shopping cart, SEO and marketing reports, easily customisable themes, Push Notifications, Dominos Pakistan on Fishry, KFC Pakistan on Fishry, ECS on Fishry, Saira Rizwan on Fishry, Base6 on Fishry, Nishat Linen on Fishry, Zara Shahjahan on Fishry, Rang ja on Fishry, Chinyere on Fishry, Urban Culture on Fishry, SNM Stores on Fishry" /> 
  <meta name="google-site-verification" content="1kAeSzqfkxo0nJQNbKVOc_24sBTVfEssa9ZkJRkqPk4" /> 
  <link rel="shortcut icon" href="/img/apple-touch-icon-72x72.jpg" />
  <link rel="icon" href="{{.staticPath}}/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.jpg" /> 
  <link rel="apple-touch-icon" href="/img/apple-touch-icon-72x72.jpg" sizes="72x72" /> 
  <link rel="apple-touch-icon" href="/img/apple-touch-icon-114x114.jpg" sizes="114x114" /> 
  <link rel="stylesheet" href="/css/css.css?family=Lato:100,300,400,700" type="text/css" /> 
  <link rel="stylesheet" href="{{.staticPath}}/css/bootstrap.min.css" type="text/css" media="all" /> 
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="all" /> 
  <link rel="stylesheet" href="/css/font-lineicons.css" type="text/css" media="all" /> 
  <link rel="stylesheet" href="/css/animate.css" type="text/css" media="all" /> 
  <link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{.staticPath}}/css/style.css" type="text/css" media="all" />
  <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/jquery-1.11.0.min.js?ver=1"></script>
    <![endif]--> 
  <!--[if (gte IE 9) | (!IE)]><!--> 
  <script type="text/javascript" src="{{.staticPath}}/js/jquery-2.1.3.min.js?ver=1"></script>
  <!--<![endif]--> 
  <script type="text/javascript" src="{{.staticPath}}/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
  <!--[if lt IE 9]>
        <script src="/js/html5.js"></script>
        <script src="/js/respond.min.js"></script>
    <![endif]-->
  {{str2html .options.stat}}
 </head>
 <body id="landing-page">
   <!-- Preloader -->
<header>
	<nav class="navigation navigation-header">
		<div class="container">
			<div class="navigation-brand">
				<div class="brand-logo">
					<a href="index.html" class="logo"></a>
					<span class="sr-only">liberalman.cn</span>
				</div>
				<button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown" data-target=".navigation-navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			<div class="navigation-navbar">
				<ul class="navigation-bar navigation-bar-left">
					<li class="active">
						<a href="#hero">首页</a>
					</li>
					<li>
						<a href="#about">Overview</a>
					</li>
					<li>
						<a href="#features-list">Features</a>
					</li>
					<li>
						<a href="#themes">Themes</a>
					</li>
					<li>
						<a href="#mobile">Mobile Apps</a>
					</li>
					<li>
						<a href="#customers">Customers</a>
					</li>
					<li>
						<a href="#contact">联系我们</a>
					</li>
				</ul>
				<ul class="navigation-bar navigation-bar-right">
					<!--<li><a href="register.html">Login</a></li>-->
					<!-- <li class="featured"><a href="register.html">Sign up</a></li>-->
				</ul>
			</div>
		</div>
	</nav>
</header>
   {{.LayoutContent}}
   <link rel="stylesheet" href="./css/style.css">
<footer id="footer" class="footer light inverted">
	<div class="container">
		<div class="footer-content row">
			<div class="col-sm-12">
				<ul class="list-inline socials" style="margin:0px; padding:0px; text-align:center;">
					<li>
						<a href="/">首页</a>
					</li>
					<li>
						<a href="#about">关于</a>
					</li>
					<li>
						<a href="#contact">联系我们</a>
					</li>
					<li>
						<a href="#customers">Customers</a>
					</li>
					<li>
						<a href="#">Terms of Service</a>
					</li>
				</ul>
			</div>
			<div class="footer-content row">
				<div class="col-sm-12">
					<div class="copyright" style="margin:0px; padding:0px; text-align:center;">
						Liberty &copy; 2014-2016. All rights reserved.
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- 载入循环图标 -->
<div id="mask">
	<div id="loader"></div>
</div>
<!-- 回到顶部图标 -->
<div class="back-to-top">
	<i class="fa fa-angle-up fa-3x"></i>
</div>
<script type="text/javascript">
	(function() {
		"use strict";
		// Init global DOM elements, functions and arrays
		window.app = {
			el: {},
			fn: {}
		};
		app.el['loader'] = $('#loader');
		app.el['mask'] = $('#mask');

		//载入转圈图标
		app.el['loader'].delay(700).fadeOut();
		app.el['mask'].delay(1200).fadeOut("slow");

		// fade in .back-to-top
		$(window).scroll(function() {
			if($(this).scrollTop() > 500) {
				$('.back-to-top').fadeIn();
			} else {
				$('.back-to-top').fadeOut();
			}
		});

		// scroll body to 0px on click
		$('.back-to-top').click(function() {
			$('html, body').animate({
				scrollTop: 0,
				easing: 'swing'
			}, 750);
			return false;
		});
	})();
</script> 
  
 </body>
</html>