<link rel="stylesheet" href="/editor.md/css/editormd.preview.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/mermaid/7.0.0/mermaid.min.css" />
<!-- Main -->
<div id="main">

	<!-- Post -->
	<article class="post box-shadow-1">
		<header>
			<div class="title">
				<h2><a href="#" class="wrap">{{.post.Title}}</a></h2>
				<p>
					<span class="label label-danger"><time class="timeago" datetime={{date .post.Updated "Y-m-j"}}></time></span>
					<span class="label label-primary">作者：{{.post.Username}}</span>
					<span class="label label-success">阅读：{{.post.Views}}</span>
					<span class="label label-warning">{{if eq 1 .post.Pubtype}}转载{{else}}原创{{end}}</span> {{if eq 1 .showEditBtn}}
					<span class="label label-default"><a href="/article/editmarkdown?id={{.post.Id}}" target="_blank">编辑</a></span> {{end}}
				</p>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">{{date .post.Posttime "Y-m-j"}}</time>
				<a href="#" class="author"><span class="name">{{.post.Username}}</span><img src="{{.post.Avatarurl}}" alt="" /></a>
			</div>
		</header>

		<div id="test-editormd-view2" style="font-size: 1.0em; line-height:2em;">
			<textarea id="append-test" style="display:none;">{{str2html .post.Content}}</textarea>
		</div>

		<footer>
			<ul class="stats">
				<li>
					<a href="{{.pre.Link}}">上一篇</a>
				</li>
				<li>
					<a href="{{.next.Link}}">下一篇</a>
				</li>
				<li>
					<a href="#" class="icon fa-heart">{{.user.Follow_count}}</a>
				</li>
				<li>
					<a href="#" class="icon fa-comment">{{.user.Post_count}}</a>
				</li>
			</ul>
		</footer>
	</article>
</div>

<script src="/editor.md/lib/marked.min.js"></script>
<script src="/editor.md/lib/prettify.min.js"></script>
<script src="/editor.md/lib/raphael.min.js"></script>
<script src="/editor.md/lib/underscore.min.js"></script>
<script src="/editor.md/lib/sequence-diagram.min.js"></script>
<script src="/editor.md/lib/flowchart.min.js"></script>
<script src="/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="//cdn.bootcss.com/mermaid/7.0.0/mermaid.min.js"></script>
<script src="//cdn.bootcss.com/viz.js/1.8.0/viz-lite.js"></script>
<script src="/editor.md/editormd.js"></script>
<script src="/js/common.js"></script>
<script type="text/javascript">
	$(function() {
		var testEditormdView2;
		testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
			htmlDecode: "style,script,iframe", // you can filter tags decode
			emoji: true,
			tocm: true,
			taskList: true,
			tex: true, // 默认不解析
			flowChart: true, // 默认不解析
			sequenceDiagram: true, // 默认不解析
			mermaid: true, // mermaid图
			viz: true, // WebGraphviz
		});
	});

	var ua = navigator.userAgent.toLowerCase();
	var isWeixin = ua.indexOf('micromessenger') != -1;
	if(isWeixin) {
		alert('Weixin');
	}
	/*console.info(navigator);
	var platform = navigator.platform;
	document.writeln(navigator.platform + '</br>');*/
	/*
	 * 智能机浏览器版本信息:
	 *
	 */
	var browser = {
		versions: function() {
			var u = navigator.userAgent,
				app = navigator.appVersion;
			return { //移动终端浏览器版本信息
				trident: u.indexOf('Trident') > -1, //IE内核
				presto: u.indexOf('Presto') > -1, //opera内核
				webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
				gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
				mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), //是否为移动终端
				ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
				android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
				iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
				iPad: u.indexOf('iPad') > -1, //是否iPad
				webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
			};
		}(),
		language: (navigator.browserLanguage || navigator.language).toLowerCase()
	}
	/*document.writeln("语言版本: "+browser.language + '</br>');
	document.writeln(" 是否为移动终端: "+ browser.versions.mobile + '</br>');
	document.writeln(" ios终端: "+browser.versions.ios + '</br>');
	document.writeln(" android终端: "+browser.versions.android + '</br>');
	document.writeln(" 是否为iPhone: "+browser.versions.iPhone + '</br>');
	document.writeln(" 是否iPad: "+browser.versions.iPad + '</br>');
	document.writeln(navigator.userAgent + '</br>');*/

	function del_comment(id) {
		if(confirm("确定删除？")) {
			$.post('/comment', {
					id: id,
					flag: 3
				},
				function(data) {
					if(0 != data.code) { // 返回0代表成功，其他失败
						toastr.error("code: " + data.code + " message: " + data.message);
					} else {
						toastr.success(data.message);
						location.reload();
					}
				});
		}
	}

	$("#btn_echo2article").click(function() {
		$.post('/comment',
			$("#form_echo2article").serialize(),
			function(data) {
				if(0 != data.code) { // 返回0代表成功，其他失败
					toastr.error("code: " + data.code + " message: " + data.message);
				} else {
					toastr.success(data.message);
					location.reload();
				}
			});
	});

	$(".echo2someone").submit(function(e) {
		e.preventDefault();
		$.ajax({
			url: "/comment",
			type: "POST",
			cache: false,
			async: true,
			data: $(this).serialize(),
			success: function(data) {
				if(0 != data.code) { // 返回0代表成功，其他失败
					toastr.error("code: " + data.code + " message: " + data.message);
				} else {
					toastr.success(data.message);
					location.reload();
				}
			}
		});
		return false; // 要使用 return false 拦截页面提交
	});
</script>