<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="utf-8" />
		<title>编辑文章</title>
		<link rel="stylesheet" href="/editor.md/css/style.css" />
		<link rel="stylesheet" href="/editor.md/css/editormd.min.css" />
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">
		<link rel="shortcut icon" href="<<<.staticPath>>>/favicon.ico" type="image/x-icon" />
	</head>

	<body>
		<form class="form-inline" method="post" action="/admin/article/save" id="form_article">
			<div id="layout">
				<header>
					<div class="form-group">
						<input name="id" class="form-control" size="2em" value="<<<.post.Id>>>" style="display:none"/>
						<input name="title" placeholder="文章标题，要起的大气点！" class="form-control" size="60" value="<<<.post.Title>>>" />
						<input type="text" name="tags" class="form-control" placeholder="分类,多个用英文逗号‘,’分隔" value="<<<.post.Tags>>>" />
						<select class="form-control" name="pubtype">
							<<<if eq 1 .post.Pubtype >>>
							<option value="0">原创</option>
							<option value="1" selected>转载</option>
							<<<else>>>
							<option value="0" selected>原创</option>
							<option value="1">转载</option>
							<<<end>>>
							<option value="2">翻译</option>
						</select>
						<input name="reprinturl" placeholder="转载地址" class="form-control" <<<if eq 1 .post.Pubtype >>> style="display:inline;" value="<<<.post.Reprinturl>>>" <<<else>>> style="display:none;" <<<end>>>/>
						<select class="form-control" name="status">
							<option value="0">已发布</option>
							<option value="1">草稿箱</option>
						</select>
                        <select class="form-control" name="show">
                            <<<if eq 1 .post.Show >>>
                            <option value="0">hide</option>
                            <option value="1" selected="selected">show</option>
                            <<<else>>>
                            <option value="0" selected="selected">hide</option>
                            <option value="1">show</option>
                            <<<end>>>
                        </select>
						<div class="input-group">
							<span class="input-group-addon">
                        <input type="checkbox" aria-label="..." value="1" name="istop">
                      </span>
							<input type="text" class="form-control" aria-label="..." value="置顶" size="4">
						</div>
						<input class="form-control" placeholder="发布时间" name="posttime" value="<<<.posttime>>>" size="16" type="text" id="datetimepicker" data-date-format="yyyy-mm-dd HH:ii:ss"  style="display:none">
						<div class="input-group">
							<span class="input-group-addon">
                            <img src="<<<.post.Coverurl>>>" height="6%"/>
                        </span>
							<input name="coverurl" placeholder="封面图片" class="form-control" id="coverurl" value="<<<.post.Coverurl>>>" type="hidden" />
							<input class="form-control" name="editortype" value="1" type="hidden" />
						</div>
						<input type="submit" value="Just do it!" class="btn btn-danger" />
						<input type="button" value="a" id="a" class="btn btn-danger" />
						</br>
						</br>
						<textarea name="digest" placeholder="文章摘要(80个字内)" class="form-control" cols="160" /><<<.post.Digest>>></textarea>
					</div>
				</header>
				<div id="test-editormd">
					<textarea style="display:none;" name="content"><<<.post.Content>>></textarea>
				</div>
				<div class="form-group">
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="input-group">
						<input type="submit" value="Just do it!" class="btn btn-danger" />
					</div>
				</div>
				</br>
				</br>
			</div>
		</form>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
		<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" type="text/css" />
		<script src="/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
		<script src="/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
		<script src="/js/jquery.colorpicker.js" type="text/javascript"></script>
		<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
		<script src="/editor.md/editormd.liberalman.min.js"></script>
		<script type="text/javascript">
			var testEditor;

			$(function() {
				testEditor = editormd("test-editormd", {
					width: "100%",
					syncScrolling: "single",
					path: "/editor.md/lib/",
					emoji: true, // 启用表情包
					tocm: true,
					taskList: true,

					// 上传图片
					imageUpload: true,
					imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
					imageUploadURL: "/admin/article/upload",
					/*
					 上传的后台只需要返回一个 JSON 数据，结构如下：
					 {
					    success : 0 | 1,           // 0 表示上传失败，1 表示上传成功
					    message : "提示的信息，上传成功或上传失败及错误信息等。",
					    url     : "图片地址"        // 上传成功时才返回
					 }
					 */

					// 提交表单的时候用
					//appendMarkdown : "test-editormd",
					saveHTMLToTextarea: true,

					// 内容发生变化的时候打印下日志
					/*onchange : function() {
					    console.log("onchange =>", this, this.id, this.settings, this.state);
					},*/

					flowChart: true, //流程图
					tex: true, // 科学公式语言
					sequenceDiagram: true, // 序列图
					mermaid: true, // mermaid图
					htmlDecode: true, // 解析html标签
					codeFold: true, // 运行编辑的时候代码折叠
					viz: true, // WebGraphviz
				});

				// 发布类型
				$("select[name='pubtype']").change(function() {
					var val = $(this).children('option:selected').val();
					if(1 == val) {
						$("input[name='reprinturl']").css('display', 'inline');
					} else {
						$("input[name='reprinturl']").css('display', 'none');
					}
				});
			});
		</script>
		
		<script type="text/javascript">
			$(function() {
				$("#colorpicker").colorpicker({
					fillcolor: true,
					success: function(o, color) {
						$("input[name='title']").css("color", color);
						$("input[name='color']").val(color);
					},
					reset: function(o) {
						$("input[name='title']").css("color", "");
						$("input[name='color']").val("");
					}
				});
				$('#datetimepicker').datetimepicker({
					language: 'zh-CN',
					weekStart: 1,
					todayBtn: 1,
					autoclose: 1,
					todayHighlight: 1,
					startView: 2,
					forceParse: 1,
					showMeridian: 1
				});

				$("#form_article").validate({
					rules: {
						digest: {
							required: true,
							maxlength: 255
						},
					},
					messages: {
						digest: {
							required: '<font color="red">请输入用文章简介!</font>',
							maxlength: '<font color="red">文章简介长度不能多于 80 个字符!</font>'
						},
					},
					// 使用 ajax 方式提交
					submitHandler: function(form) {
						/* 获取src和alt的代码
                        var re = /<img([^>]+?)>/ig;
                        var s = document.getElementById("test-editormd").innerHTML;
                        var str=""
                        var tempImg=""
                        var re1=/alt\s*=\s*([^\s]+)/i
                        var re2=/src\s*=\s*(["'])([^"']+)\1/i
                        while(re.exec(s))
                        {
                            tempImg=RegExp.$1
                            str+=((re1.test(tempImg))?RegExp.$1:"")+","
                            re2.test(tempImg)
                            str+=((re2.test(tempImg))?RegExp.$2:"")+"\r\n"
                        }
                        console.info(str);*/

						/*// 从文章中找出一个img出来，作为封面图片，默认选第一个找到的图片。
						var re = /<img([^>]+?)>/ig;
						var s = document.getElementById("test-editormd").innerHTML;

						var str = ""
						var tempImg = ""
						var re2 = /src\s*=\s*(["'])([^"']+)\1/i
						while(re.exec(s)) {
							tempImg = RegExp.$1
							re2.test(tempImg)
							str += ((re2.test(tempImg)) ? RegExp.$2 : "");
							break; // 只获取第一条就行了
						}
						$('#coverurl').val(str);*/

						// 从文章中找出一个img出来，作为封面图片，默认选第一个找到的图片。
                        try
                        {  
                            var str = $("textarea[name='content']").val();
                            s = str.match(/\!\[.*\]\(\s*(.*)\s*\)/gi);
                            
                            for(var i= 0;i<s.length;i++)
                            {
                                var tmp = s[i];
                                var s2=tmp.split(/\!\[.*\]\(\s*(.*)\s*\)/gi);
                                $('#coverurl').val(s2[1]);
                            }
                        }
                        catch(e)
                        {
                            alert(e);
                        }

						$.post('/admin/article/save',
							$(form).serialize(),
							function(data) {
								if(0 != data.code) { // 返回0代表成功，其他失败
									toastr.error("code: " + data.code + " message: " + data.message);
								} else {
									toastr.success(data.message);
									window.location = "/article/<<<.post.Id>>>"; //跳转
									$('#myModal', parent.document).click(); // 关闭父页面的编辑窗口
								}
							});
					},
					// 指明错误放置的位置，默认情况是：error.appendTo(element.parent());即把错误信息放在验证的元素后面。
					errorPlacement: function(error, element) {
						toastr.error(error[0].innerText);
						//$(element).closest("form").find("input").removeClass('error'); //这个1.8.2版本的jquery和validate配合有问题，这里需要去除下error，不然input框会被删除。
						$(element).closest("form").find("input[name='" + element.attr("id") + "']").append(error);
					}
				});
			});

            $('#a').click(function(){
                /*var str = $("textarea[name='content']").val();
                console.info(str);
                var patten = new RegExp("\!\[.*\]\(.*\)", "g");
                var result;
                while((result = patten.exec(str)) != null) {
                    console.info(result);
                    break; // 只获取第一条就行了
                }*/
                try
                {  
                    var str = $("textarea[name='content']").val();
                    //console.info(str);
                    s = str.match(/\!\[.*\]\(\s*(.*)\s*\)/gi);
                    
                      for(var i= 0;i<s.length;i++)
                      {
                          //console.info(s[i]);
                          var tmp = s[i];
                          var s2=tmp.split(/\!\[.*\]\(\s*(.*)\s*\)/gi);
                          /*console.info(s2);
                          for(var i= 0;i<s2.length;i++)
                          {
                              console.info(s2[i]);
                          }*/
                          console.info(s2[1]);
                      }
                }
                catch(e)
                {
                    alert(e);
                }
            });
		</script>

	</body>

</html>
