<style>
	.myimg {
		/* top　right　bottom left */
		padding: 3.75em 0em 1.75em 1.75em;
		border-left: solid 1px rgba(160, 160, 160, 0.3);
		min-width: 17em;
		text-align: right;
		width: 17em;
	}
</style>
<link rel="stylesheet" href="/css/paging-style.css" />
<!-- Main -->
<div id="main">
    <input id="hasload" value="1" style="display:none;"/>
    <div id="articles">
		<!-- Post -->
		{{range $k, $v := .list}}
		<article class="post box-shadow-1">
			<header>
				<div class="title">
					<h2><a href="{{$v.Link}}" class="wrap">{{$v.Title}}</a></h2>
				</div>
				<div class="meta">
					<time class="published" datetime="2015-11-01">{{date $v.Posttime "Y-m-j"}}</time>
					<a href="/user/{{$v.Userid}}" class="author mytooltip" title="This is my span's tooltip message!">
						<span class="name">{{$v.Username}}</span><img src="{{$v.Avatarurl}}" alt="" />
					</a>
				</div>
			</header>
			<header>
				{{if $v.Coverurl}}
				<div class="myimg" style="overflow: hidden;">
					<a href="{{$v.Link}}"><img src="{{$v.Coverurl}}" width="100%" alt="" /></a>
				</div>
				{{end}}
				<div class="title">
					<div id="test-editormd-view2-{{$v.Id}}" style="font-size: 1.0em; line-height:2em;">
						<textarea id="append-test" style="display:none;">{{$v.Digest}}</textarea>
					</div>
				</div>
			</header>
			<footer>
				<ul class="actions">
					<li>
						<a href="{{$v.Link}}" class="button big">Continue Reading</a>
					</li>
				</ul>
				<ul class="stats">
					<li>
						{{str2html $v.TagsLink}}
					</li>
					<li>
						<a href="{{$v.Link}}" class="icon fa-heart">{{$v.Views}}</a>
					</li>
					<li>
						<a href="{{$v.Link}}" class="icon fa-comment">0</a>
					</li>
				</ul>
			</footer>
		</article>
		{{end}} {{str2html .pagebar}}
	</div>
	<div class="paging-box" id="paging-box"></div>
</div>

<script src="/js/paging.min.js"></script>
<link rel="stylesheet" href="/editor.md/css/editormd.preview.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/mermaid/7.0.0/mermaid.min.css" />
<script src="/editor.md/lib/marked.min.js"></script>
<script src="/editor.md/lib/prettify.min.js"></script>
<script src="/editor.md/lib/raphael.min.js"></script>
<script src="/editor.md/lib/underscore.min.js"></script>
<script src="/editor.md/lib/sequence-diagram.min.js"></script>
<script src="/editor.md/lib/flowchart.min.js"></script>
<script src="/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="//cdn.bootcss.com/mermaid/7.0.0/mermaid.min.js"></script>
<script src="//cdn.bootcss.com/viz.js/1.8.0/viz-lite.js"></script>
<script src="/editor.md/editormd.liberalman.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
        console.info($('#hasload').val());
        if(1 == $('#hasload').val()) {
            each_markdown_to_html();
        }
		//init_pagebar1(1);
		init_pagebar({{.page}}, {{.pagesize}}, {{.total}});
	});
</script>
