
<!-- Main -->
<div id="main">

	{{range $k, $v := .list}}
	<!-- Post -->
	<article class="post box-shadow-1">
		<header>
			<div class="title">
				<h2><a href="{{$v.Link}}" class="wrap">{{str2html $v.Title}}</a></h2>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">{{date $v.Posttime "Y-m-j"}}</time>
				<a href="/user/{{$v.Userid}}" class="author"><span class="name">{{$v.Username}}</span><img src="{{$v.Avatarurl}}" alt="" /></a>
			</div>
		</header>
		{{if $v.Coverurl}}
		<a href="#" class="image left"><img src="{{$v.Coverurl}}" alt=""/></a>
		{{end}}
		<p>{{$v.Digest}}</p>
		<hr/>
		<footer>
			<ul class="actions">
				<li>
					<a href="{{$v.Link}}" class="button big">Continue Reading</a>
				</li>
			</ul>
			<ul class="stats">
				<li>
					<a href="#">{{str2html $v.TagsLink}}</a>
				</li>
				<li>
					<a href="#" class="icon fa-heart">28</a>
				</li>
				<li>
					<a href="#" class="icon fa-comment">128</a>
				</li>
			</ul>
		</footer>
	</article>
	{{end}}
	
	{{str2html .pagebar}}

</div>

