<style>
	.myimg {
		/*上　右　下 　左*/
		padding: 3.75em 0em 1.75em 1.75em;
		border-left: solid 1px rgba(160, 160, 160, 0.3);
		min-width: 17em;
		text-align: right;
		width: 17em;
	}
</style>
<!-- Main -->
<div id="main">

	{{range $k, $v := .list}}
	<!-- Post -->
	<article class="post box-shadow-1">
		<header>
			<div class="title">
				<h2><a href="{{$v.Link}}" class="wrap">{{str2html $v.Title}}</a></h2>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">{{date $v.Posttime "Y-m-j"}}</time>
				<a href="/user/{{$v.Userid}}" class="author"><span class="name">{{$v.Username}}</span><img src="{{$v.Avatarurl}}" alt="" /></a>
			</div>
		</header>
		<header>
			{{if $v.Coverurl}}
			<div class="myimg" style="overflow: hidden;">
				<a href="{{$v.Link}}"><img src="{{$v.Coverurl}}" width="100%" alt="" /></a>
			</div>
			{{end}}
			<div class="title">
				<div id="test-editormd-view2-{{$v.Id}}" style="font-size: 1.0em; line-height:2em;">
					<textarea id="append-test" style="display:none;">{{$v.Digest}}</textarea>
				</div>
			</div>
		</header>
		<footer>
			<ul class="actions">
				<li>
					<a href="{{$v.Link}}" class="button big">Continue Reading</a>
				</li>
			</ul>
			<ul class="stats">
				<li>
					<a href="#">{{str2html $v.TagsLink}}</a>
				</li>
				<li>
					<a href="#" class="icon fa-heart">28</a>
				</li>
				<li>
					<a href="#" class="icon fa-comment">128</a>
				</li>
			</ul>
		</footer>
	</article>
	{{end}} {{str2html .pagebar}}
</div>

<link rel="stylesheet" href="/editor.md/css/editormd.preview.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/mermaid/7.0.0/mermaid.min.css" />
<script src="/editor.md/lib/marked.min.js"></script>
<script src="/editor.md/lib/prettify.min.js"></script>
<script src="/editor.md/lib/raphael.min.js"></script>
<script src="/editor.md/lib/underscore.min.js"></script>
<script src="/editor.md/lib/sequence-diagram.min.js"></script>
<script src="/editor.md/lib/flowchart.min.js"></script>
<script src="/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="//cdn.bootcss.com/mermaid/7.0.0/mermaid.min.js"></script>
<script src="//cdn.bootcss.com/viz.js/1.8.0/viz-lite.js"></script>
<script src="/editor.md/editormd.liberalman.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("div[id^='test-editormd-view2-']").each(function() {
			var testEditormdView2;
			// $(this)[0].id  获取id名字
			testEditormdView2 = editormd.markdownToHTML($(this)[0].id, {
				htmlDecode: "style,script,iframe", // you can filter tags decode
				emoji: true,
				tocm: true,
				taskList: true,
				tex: true, // 默认不解析
				flowChart: true, // 默认不解析
				sequenceDiagram: true, // 默认不解析
				mermaid: true, // mermaid图
				viz: true, // WebGraphviz
			});
		});
	});
</script>