<link href="/future/box13.min.css" rel="stylesheet">
<style type="text/css">
	/*=========瀑布流部分===========*/
	
	.grid-item {
		margin: auto 2.5em;
	}
	/*=========瀑布流部分===========*/
</style>
<!-- Main -->
<div id="main">
	<div class="masonry-container">
		{{range $k, $v := .list}}
		<div class="grid-item">
			<div class="box13">
				<h1><a href="/blog/album{{$v.Albumid}}.html"> {{$v.Albumname}} </a></h1>
				<a href="{{$v.Url}}" data-lightbox="lightbox_" title="{{$v.Des}}">
					<img src="{{$v.Url}}" alt="{{$v.Des}}" height="auto">
				</a>
				<p>
					&middot;{{$v.Des}}
				</p>
				<br />
				<div class="box13_corner_lf"></div>
				<div class="box13_corner_rt"></div>
				<div class="box13_ribbon"></div>
			</div>
		</div>
		{{end}}
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {

		$('#wrapper').css('width', '90%');

		var $container = $('.masonry-container');
		init_masonry_container($container);

		//Reinitialize masonry inside each panel after the relative tab link is clicked - 
		$('a[data-toggle=tab]').each(function() {
			$(this).on('click', function() {
				init_masonry_container($container);
			}); //end each
		});
	});
</script>