<!-- Sidebar -->
<section id="sidebar">

	<!-- Intro -->
	<section id="intro">
		{{if .username}}
		<a href="/admin" class="logo mytooltip" title="This is my image's tooltip message!"><img src="{{.avatarurl}}" alt=""/></a>
		<header>
			<h2>{{.username}}</h2>
			<p>我的帖子:{{.post_count}} 粉丝:{{.follow_count}}</p>
			<p>{{.information}}</p>
		</header>
		{{else}}
		<a href="#" class="logo"><img src="/future/images/logo.jpg" alt="" /></a>
		<header>
			<h2>Hi, visitor!</h2>
			<p>
				The web was create by <a href="/user/1">Liberalman</a>, if you want to see more, please <a href="/login">Login</a>.
			</p>
		</header>
		{{end}}
	</section>

	<!-- Mini Posts -->
	<section>
		<div class="mini-posts" id="recommend_photos">

			<!-- Mini Post -->
			<article class="mini-post box-shadow-1">
				<header>
					<h3><a href="#">Vitae sed condimentum</a></h3>
					<time class="published" datetime="2015-10-20">October 20, 2015</time>
					<a href="#" class="author"><img src="/future/images/avatar.jpg" alt="" /></a>
				</header>
				<a href="#" class="image"><img src="/future/images/pic04.jpg" alt="" /></a>
			</article>

		</div>
	</section>
	
	<!-- Posts List -->
	<section>
		<h1>热门文章</h1>
		<ul class="posts">
			{{range $k,$v := .hotblog}}
			<li>
				<article>
					<header>
						<h3><a href="{{$v.Link}}" title="{{$v.Digest}}"><span class="us xtag">{{$v.Title}}</span></a></h3>
						<p><i class="fa fa-eye" aria-hidden="true">{{$v.Views}}</i></p>
					</header>
					<a href="/user/{{$v.Userid}}" class="image mytooltip" title="{{$v.Username}}"><img src="{{$v.Avatarurl}}" alt="" /></a>
				</article>
			</li>
			{{end}}
		</ul>
	</section>
	
	<section>
		<h1>最新文章</h1>
		<ul class="posts">
			{{range $k,$v := .latestblog}}
			<li>
				<article>
					<header>
						<h3><a href="{{$v.Link}}" title="{{$v.Digest}}"><span class="us xtag wrap">{{$v.Title}}</span></a></h3>
						<p><i class="fa fa-eye" aria-hidden="true">{{$v.Views}}</i></p>
					</header>
					<a href="/user/{{$v.Userid}}" class="image mytooltip" title="{{$v.Username}}"><img src="{{$v.Avatarurl}}" alt="" /></a>
				</article>
			</li>
			{{end}}
		</ul>
	</section>

	<!-- About -->
	<section class="blurb">
		<h2>About</h2>
		<p>{{.description}}</p>
		<ul class="actions">
			<li>
				<a href="/about" class="button">Learn More</a>
			</li>
		</ul>
	</section>

	<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li>
				<a href="#" class="fa-twitter"><span class="label">Twitter</span></a>
			</li>
			<li>
				<a href="#" class="fa-facebook"><span class="label">Facebook</span></a>
			</li>
			<li>
				<a href="#" class="fa-instagram"><span class="label">Instagram</span></a>
			</li>
			<li>
				<a href="#" class="fa-rss"><span class="label">RSS</span></a>
			</li>
			<li>
				<a href="#" class="fa-envelope"><span class="label">Email</span></a>
			</li>
		</ul>
		<p class="copyright">&copy; Untitled. Design:
			<a href="http://html5up.net">HTML5 UP</a>. Images:
			<a href="http://unsplash.com">Unsplash</a>.</p>
	</section>

</section>
<!-- Sidebar -->
<script type="text/javascript">
	$(document).ready(function() {
		/* Math.random()*(n-m)+m;
           返回指定范围的随机数(m-n之间)的公式,Math.random()返回的是0~1之间的浮点数*/
		var page = Math.floor(Math.random() * (20 - 1) + 1); // 返回1-10的随机数

		$.ajax({
			url: "/blog/photo/recommend",
			type: "get",
			cache: true,
			async: true,
			data: {
				page: page,
				pagesize: 4,
			},
			success: function(result) {
				if(0 != result.code) { // 返回0代表成功，其他失败
					toastr.error("code: " + result.code + " message: " + result.message);
				} else {
					var str = "";
					if(result.data.list) {
						result.data.list.forEach(function(value, index, array) {
							str += '<article class="mini-post box-shadow-1 wrap"><header>\
								<h3><a href="#">' + value.Des + '</a></h3>\
								<time class="published" datetime="2015-10-20">' + value.Posttime + '</time>\
								<a href="#" class="author"><img src="/future/images/avatar.jpg" alt="" /></a></header>\
							<a href="/blog/album' + value.Albumid + '.html" class="image"><img src="' + value.Url + '" alt="" /></a></article>';
						});
						if(str != "") {
							$('#recommend_photos').html(str);
						}
					}
				}
			}
		});
	});
</script>