<!-- Sidebar -->
<section id="sidebar">

	<!-- Intro -->
	<section id="intro">
		{{if .username}}
		<a href="/admin" class="logo"><img src="{{.avatarurl}}" alt="" /></a>
		<header>
			<h2>{{.username}}</h2>
			<p>{{.information}}</p>
		</header>
		{{else}}
		<a href="#" class="logo"><img src="/future/images/logo.jpg" alt="" /></a>
		<header>
			<h2>Hi, visitor!</h2>
			<p>
				The web was create by <a href="/user/1">Liberalman</a>, if you want to see more, please <a href="/login">Login</a>.
			</p>
		</header>
		{{end}}
	</section>

	<!-- Mini Posts -->
	<section>
		<div class="mini-posts" id="recommend_photos">

			<!-- Mini Post -->
			<article class="mini-post box-shadow-1">
				<header>
					<h3><a href="#">Vitae sed condimentum</a></h3>
					<time class="published" datetime="2015-10-20">October 20, 2015</time>
					<a href="#" class="author"><img src="/future/images/avatar.jpg" alt="" /></a>
				</header>
				<a href="#" class="image"><img src="/future/images/pic04.jpg" alt="" /></a>
			</article>

		</div>
	</section>

	<!-- Posts List -->
	<section>
		<ul class="posts">
			<li>
				<article>
					<header>
						<h3><a href="#">Lorem ipsum fermentum ut nisl vitae</a></h3>
						<time class="published" datetime="2015-10-20">October 20, 2015</time>
					</header>
					<a href="#" class="image"><img src="/future/images/pic08.jpg" alt="" /></a>
				</article>
			</li>
			<li>
				<article>
					<header>
						<h3><a href="#">Convallis maximus nisl mattis nunc id lorem</a></h3>
						<time class="published" datetime="2015-10-15">October 15, 2015</time>
					</header>
					<a href="#" class="image"><img src="/future/images/pic09.jpg" alt="" /></a>
				</article>
			</li>
			<li>
				<article>
					<header>
						<h3><a href="#">Euismod amet placerat vivamus porttitor</a></h3>
						<time class="published" datetime="2015-10-10">October 10, 2015</time>
					</header>
					<a href="#" class="image"><img src="/future/images/pic10.jpg" alt="" /></a>
				</article>
			</li>
			<li>
				<article>
					<header>
						<h3><a href="#">Magna enim accumsan tortor cursus ultricies</a></h3>
						<time class="published" datetime="2015-10-08">October 8, 2015</time>
					</header>
					<a href="#" class="image"><img src="/future/images/pic11.jpg" alt="" /></a>
				</article>
			</li>
			<li>
				<article>
					<header>
						<h3><a href="#">Congue ullam corper lorem ipsum dolor</a></h3>
						<time class="published" datetime="2015-10-06">October 7, 2015</time>
					</header>
					<a href="#" class="image"><img src="/future/images/pic12.jpg" alt="" /></a>
				</article>
			</li>
		</ul>
	</section>

	<!-- About -->
	<section class="blurb">
		<h2>About</h2>
		<p>分享idea</p>
		<ul class="actions">
			<li>
				<a href="/about" class="button">Learn More</a>
			</li>
		</ul>
	</section>

	<!-- Footer -->
	<section id="footer">
		<ul class="icons">
			<li>
				<a href="#" class="fa-twitter"><span class="label">Twitter</span></a>
			</li>
			<li>
				<a href="#" class="fa-facebook"><span class="label">Facebook</span></a>
			</li>
			<li>
				<a href="#" class="fa-instagram"><span class="label">Instagram</span></a>
			</li>
			<li>
				<a href="#" class="fa-rss"><span class="label">RSS</span></a>
			</li>
			<li>
				<a href="#" class="fa-envelope"><span class="label">Email</span></a>
			</li>
		</ul>
		<p class="copyright">&copy; Untitled. Design:
			<a href="http://html5up.net">HTML5 UP</a>. Images:
			<a href="http://unsplash.com">Unsplash</a>.</p>
	</section>

</section>
<!-- Sidebar -->
<script type="text/javascript">
	$(document).ready(function() {
		/* Math.random()*(n-m)+m;
           返回指定范围的随机数(m-n之间)的公式,Math.random()返回的是0~1之间的浮点数*/
		var page = Math.floor(Math.random() * (10 - 1) + 1); // 返回1-10的随机数

		$.ajax({
			url: "/blog/photo/recommend",
			type: "get",
			cache: true,
			async: true,
			data: {
				page: page,
				pagesize: 4,
			},
			success: function(result) {
				if(0 != result.code) { // 返回0代表成功，其他失败
					toastr.error("code: " + result.code + " message: " + result.message);
				} else {
					var str = "";
					if(result.data.list) {
						result.data.list.forEach(function(value, index, array) {
							str += '<article class="mini-post box-shadow-1"><header>\
								<h3><a href="#">' + value.Des + '</a></h3>\
								<time class="published" datetime="2015-10-20">' + value.Posttime + '</time>\
								<a href="#" class="author"><img src="/future/images/avatar.jpg" alt="" /></a></header>\
							<a href="/blog/album' + value.Albumid + '.html" class="image"><img src="' + value.Url + '" alt="" /></a></article>';
						});
						if(str != "") {
							$('#recommend_photos').html(str);
						}
					}
				}
			}
		});
	});
</script>