<style type="text/css">
	body {
		padding-top: 0;
	}
	/*=========瀑布流部分===========*/
	/*.grid-item {
		width: 20em;
	}*/
	/*=========瀑布流部分===========*/
</style>
<!-- Main -->
<div id="main">
	<div class="row masonry-container">
		{{range $k, $v := .list}}
		<div class="grid-item">
			<div class="thumbnail">
				<a href="/blog/timeline/{{$v.Id}}"><img src="{{$v.Coverurl}}" alt="{{$v.Name}}" /></a>
				<div class="caption">
					<h3>&middot;{{$v.Name}}</h3>
					<p>{{$v.Content}}</p>
					<p>
						<i class="fa fa-heart-o" aria-hidden="true"></i>
						<i class="fa fa-eye" aria-hidden="true"></i>
					</p>
				</div>
			</div>
		</div>
		{{end}}
	</div>
	<div class="row">{{str2html .pagebar}}</div>
</div>
<script src="https://cdn.bootcss.com/jquery.imagesloaded/4.1.3/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.bootcss.com/masonry/4.2.0/masonry.pkgd.min.js"></script>
<script type="text/javascript">
	(function($) {
		var $container = $('.masonry-container');
		$container.imagesLoaded(function() {
			$container.masonry({
				itemSelector: '.grid-item',
				columnWidth: '.grid-item'
			});
		});
	})(jQuery);
</script>