<html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"> -->
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css"><!-- 这行是为在用webstorm编辑器时候能找到css才添加的-->
</head>
<body>
    <div class="container">
        <hr/>
        <p>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-sort-by-attributes"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-sort-by-order"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-sort-by-order-alt"></span>
            </button>
        </p>
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-user"></span> User
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-user"></span> User
        </button>
        <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-user"></span> User
        </button>
        <hr/>
        <table class="table table-striped table-bordered table-hover">
            <tr class="active">
                <td>Name</td>
                <td>url</td>
            </tr>
            <tr class="success">
                <td>bootstrap登录样式</td>
                <td><a href="login.html">login.html</a></td>
            </tr>
            <tr class="warning">
                <td>轮播图</td>
                <td><a href="box.html">box.html</a></td>
            </tr>
            <tr class="danger">
                <td>3D轮播图</td>
                <td><a href="slicebox3d.html">slicebox3d.html</a></td>
            </tr>
            <tr class="info">
                <td></td>
                <td></td>
            </tr>
        </table>
        <hr/>
        For example, <code>&lt;section&gt;</code> should be wrapped as inline.
        <hr/>
        To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
        To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
        <hr/>
        <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
        <hr/>
        <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
        <hr/>
        <samp>This text is meant to be treated as sample output from a computer program.</samp>
        <hr/>
        <p>&copy; Company 2016</p>
    </div>
</body>
</html>